.footer {
	position: relative;
	flex: 0 0 auto;
	min-width: 320px;
	background-color: var(--interface1-color);
	color: var(--interface14-color);
	font-size: 12px;
	line-height: 20px;

	&-fz-sm {
		font-size: 11px;
	}

	.footer-mid-color {
		color: var(--interface12-color);
	}
	.footer-dark-color {
		color: var(--interface11-color);
	}

	&-container {
		display: flex;
	}
	&-company {
		&-logo {
			min-width: 65px;
			width: 65px;

			.image {
				min-width: 65px;
				width: 65px;
				min-height: 55px;
				height: 55px;
			}
		}
		&-rights {
			display: flex;
			flex-direction: column;
		}
	}
	&-main {
		display: flex;
		flex-direction: column;

		&-menu {
			margin-bottom: -8px;

			&__item {
				margin-bottom: 8px;
				break-inside: avoid;
			}
		}
	}
}
@media (min-width: 992px) {
	.footer {
		padding-top: 30px;
		padding-bottom: 30px;

		&-container {
			gap: 48px;
		}
		&-company {
			display: flex;
			flex-wrap: wrap;
			gap: 32px 20px;
			min-width: 260px;
			width: 260px;

			&-rights {
				flex: 1;
				justify-content: space-between;
				gap: 8px;
				padding-top: 8px;
			}
			&-privacy-policy {
				min-width: 100%;
				width: 100%;
			}
		}
		&-main {
			align-items: flex-end;
			gap: 32px;
			min-width: calc(100% - 260px - 48px);
			width: calc(100% - 260px - 48px);
		}
	}
}
@media (min-width: 1200px) {
	.footer {
		&-main {
			&-menu {
				column-count: 5;
				column-gap: 32px;
			}
		}
	}
}
@media (max-width: 991.98px) {
	.footer {
		padding-top: 24px;
		padding-bottom: 32px;

		&-container {
			flex-direction: column;
			gap: 24px;
		}
		&-company {
			display: grid;
			grid-template-columns: 65px 1fr;
			gap: 2px 24px;

			&-logo {
				grid-column: 1/2;
				grid-row: 1/3;
			}
			&-rights {
				grid-column: 2/3;
				grid-row: 1/2;
				gap: 2px;
			}
			&-privacy-policy {
				grid-column: 2/3;
				grid-row: 2/3;
			}
		}
		&-main {
			gap: 24px;

			&-menu {
				column-count: 2;
				column-gap: 16px;
			}
			&-caption {
				text-align: center;
			}
		}
	}
}
@media (min-width: 576px) and (max-width: 767.98px) {
	.footer {
		&-main {
			&-menu {
				column-count: 3;
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 1199.98px) {
	.footer {
		&-main {
			&-menu {
				column-count: 4;
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.footer {
		&-main {
			&-menu {
				column-gap: 24px;
			}
		}
	}
}