.footer {
	position: relative;
	flex: 0 0 auto;
	min-width: 375px;
	background-color: var(--interface2-color);
	color: var(--interface6-color);

	.link {
		color: var(--interface6-color);

		&:hover {
			color: var(--interface9-color);
		}
	}
	&-main,
	&-menu {
		display: flex;
	}
	&-main {
		&__item {
			flex: 1;
		}
	}
	&-menu {
		&__title {
			color: var(--white-color);

			.link {
				color: var(--white-color);

				&:hover {
					color: var(--interface9-color);
				}
			}
		}
		&__list {
			& li:not(:last-child) {
				margin-bottom: 16px;
			}
		}
	}
	&-descr {
		color: var(--interface8-color);
	}
	&-bottom,
	&-rights-info {
		display: flex;
	}
}
@media (min-width: 992px) {
	.footer {
		padding-top: 72px;
		padding-bottom: 72px;

		&-main,
		&-menu {
			align-items: flex-start;
			gap: 80px;
		}
		&-descr {
			font-size: 18px;
		}
		&-bottom,
		&-rights-info {
			gap: 48px;
		}
		&-bottom {
			align-items: center;

			.social {
				margin-left: auto;
			}
		}
	}
}
@media (max-width: 991.98px) {
	.footer {
		padding-top: 24px;
		padding-bottom: 24px;

		&-main,
		&-menu,
		&-bottom,
		&-rights-info {
			flex-direction: column;
		}
		&-main {
			gap: 24px;
		}
		&-menu {
			gap: 32px;
		}
		&-descr {
			font-size: 14px;
		}
		&-bottom {
			gap: 24px;

			.social {
				order: 1;
			}
			.footer-rights-info {
				order: 2;
			}
		}
		&-rights-info {
			gap: 16px;
		}
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.footer {
		&-menu {
			flex-direction: row;

			&__item {
				flex: 1;
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.footer {
		&-main,
		&-menu {
			gap: 24px;

		}
		&-main {
			flex-direction: column;

			&__item {
				min-width: 100%;
				width: 100%;
			}
		}
		&-menu {
			&__item {
				flex: 1;
			}
		}
	}
}
