.header {
	z-index: 1000;
	min-width: 375px;
	width: 100%;
	background-color: var(--white-color);

	&-container {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
	}

	&-search {
		position: relative;
		flex: 1;

		.input-search {
			&:not(:focus) {
				border-color: rgba(165, 165, 164, 0.3);
			}
		}
	}

	&-contacts {
		&__tel {
			display: flex;
			flex-direction: column;
			gap: 4px;
		}
		&__status,
		&__number {
			color: var(--interface1-color);
		}
		&__status {
			position: relative;
			font-weight: 500;
			font-size: 13px;

			&.on,
			&.off {
				padding-left: 16px;

				&::before {
					content: "";
					position: absolute;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
					min-width: 8px;
					width: 8px;
					min-height: 8px;
					height: 8px;
					border-radius: 50%;
				}
			}
			&.on {
				&::before {
					background-color: var(--green-color);
				}
			}
			&.off {
				&::before {
					background-color: var(--red-color);
				}
			}
		}
		&__number {
			color: var(--interface1-color);
			font-family: var(--font-family-unbounded);
			font-size: 16px;
		}
	}

	&-profile {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 12px;
	}

	&-catalog {
		position: relative;
		display: flex;
		align-items: flex-start;

		&-preview {
			&__item {
				position: relative;
				display: flex;
				align-items: center;
				color: var(--interface1-color);
				font-weight: 700;
				font-size: 14px;
				line-height: 18px;
				letter-spacing: 0.7px;
				text-transform: uppercase;
				white-space: nowrap;
			}
		}
	}
}

.burger {
	border-color: var(--surface-gray4-color);

	.icon {
		pointer-events: none;
	}

	&:not(.active) {
		.icon {
			&-selected {
				display: none;
			}
		}
	}
	&.active {
		.icon {
			&-default {
				display: none;
			}
		}
	}
}

.mobile-menu {
	z-index: -1;
	position: fixed;
	top: 68px;
	right: 0;
	left: 0;
	flex-direction: column;
	min-height: 0;
	padding-top: 12px;
	padding-bottom: 32px;
	border: 1px solid var(--interface10-color);
	overflow: auto;
	opacity: 0;
	user-select: auto;
	background-color: var(--white-color);

	&::-webkit-scrollbar {
		width: 0;
	}
	&.active {
		z-index: 2000;
		display: flex;
		min-height: calc(100vh - 68px);
		height: calc(100vh - 68px);
		opacity: 1;
	}

	&__item {
		padding-right: 16px;
		padding-left: 16px;
	}

	&-list {
		flex: 1;

		li {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
		& .mobile-menu__item {
			padding-bottom: 12px;
		}
		& .mobile-menu__link {
			min-width: 100%;
		}
	}

	&-footer {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}
}
@media (min-width: 992px) {
	.header {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		padding-top: 40px;
		padding-bottom: 40px;

		&-logo,
		&-search,
		&-contacts,
		&-profile {
			padding-top: 28px;
			padding-bottom: 28px;
		}

		&-search {
			max-width: 400px;
		}

		&-contacts {
			margin-left: auto;

			&:not(:last-child) {
				margin-right: 40px;
			}
		}

		&-profile {
			&__btn {
				min-height: 44px;
				height: 44px;

				&-view {
					& .icon {
						min-width: 24px;
						width: 24px;
						min-height: 24px;
						height: 24px;
					}
				}
			}
		}

		&-catalog {
			min-width: 100%;
			padding-top: 32px;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				min-height: 1px;
				height: 1px;
				background-color: var(--interface10-color);
			}
			&-preview {
				display: flex;
				align-items: flex-start;
				gap: 70px;
				overflow: hidden;

				&,
				&__item {
					display: flex;
				}
				&__item {
					align-items: center;
					padding-bottom: 14px;

					&::before {
						content: "";
						position: absolute;
						bottom: 0;
						left: 50%;
						transform: translateX(-50%);
						min-width: 25%;
						width: 25%;
						min-height: 1px;
						height: 1px;
						background-color: var(--red-color);
						opacity: 0;
						transition: var(--transition);
					}

					&:hover {
						&::before {
							width: 100%;
							opacity: 1;
						}
					}
				}
			}
		}

		&-mobile-menu {
			display: none;
		}

		&:not(.dark-bg),
		&:not(.dark-bg--desktop) {
			.header-logo {
				.logo-light {
					display: none;
				}
			}
		}
		&:not(.dark-bg--desktop):not(.dark-bg--mobile),
		&.dark-bg--desktop {
			background-color: var(--interface1-color);

			.header-logo {
				.logo-dark {
					display: none;
				}
			}
			.header-contacts {
				&__status {
					color: rgba(255, 255, 255, 0.8);
				}
				&__number {
					color: var(--white-color);
				}
			}
			.header-catalog {
				position: relative;
				display: flex;
				align-items: flex-start;

				&-preview {
					&__item {
						color: var(--white-color);
					}
				}
			}
		}
		&.header-transparent:not(.header-transparent--desktop):not(.header-transparent--mobile),
		&.header-transparent--desktop {
			&.dark-bg {
				background-color: transparent;
			}
		}
	}

	.mobile-menu {
		display: none;
	}
}
@media (min-width: 1380px) {
	.header {
		&-logo,
		&-search {
			&:not(:last-child) {
				margin-right: 48px;
			}
		}
	}
}
@media (max-width: 991.98px) {
	.header {
		padding-top: 8px;
		padding-bottom: 12px;

		&-nav-container {
			min-height: 48px;
			height: 48px;
		}

		&-logo {
			align-self: center;
			margin-right: auto;
		}

		&-search,
		&-contacts,
		&-catalog {
			display: none;
		}

		&-profile {
			&-user {
				display: none;
			}
			.btn {
				min-width: 48px;
				width: 48px;
				padding: 0;

				&__text {
					display: none;
				}
			}
		}

		&-catalog-preview {
			&__item {
				padding-bottom: 12px;

				&--pa {
					gap: 8px;
					color: var(--interface5-color);

					.icon {
						fill: var(--interface5-color);
					}
				}
			}
		}

		&-mobile-menu {
			&:not(:first-child) {
				margin-left: 12px;
			}
		}

		&:not(.dark-bg),
		&:not(.dark-bg--mobile) {
			.header-logo {
				.logo-light {
					display: none;
				}
			}
		}
		&:not(.dark-bg--desktop):not(.dark-bg--mobile),
		&.dark-bg--mobile {
			background-color: var(--interface1-color);

			.header-logo {
				.logo-dark {
					display: none;
				}
			}
			.header-contacts {
				&__status {
					color: rgba(255, 255, 255, 0.8);
				}
				&__number {
					color: var(--white-color);
				}
			}
			.header-catalog {
				position: relative;
				display: flex;
				align-items: flex-start;

				&-preview {
					&__item {
						color: var(--white-color);
					}
				}
			}
		}
		&.header-transparent:not(.header-transparent--desktop):not(.header-transparent--mobile),
		&.header-transparent--mobile {
			&.dark-bg {
				background-color: transparent;
			}
		}
	}

	.mobile-menu {
		.header {
			&-search,
			&-contacts {
				display: flex;
			}

			&-contacts {
				&__status {
					color: var(--interface5-color);
				}
			}
		}

		&-list {
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}
}
@media (max-width: 767.98px) {
	.header {
		&-profile {
			display: none;
		}

		&-mobile-menu {
			margin-left: auto;
		}
	}
}
@media (min-width: 768px) and (max-width: 1379.98px) {
	.header {
		&-profile {
			&__btn {
				min-height: 36px;
				height: 36px;

				&-view {
					& .icon {
						min-width: 16px;
						width: 16px;
						min-height: 16px;
						height: 16px;
					}
				}
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.header {
		&-search {
			max-width: 270px;
		}

		&-profile {
			.btn {
				min-width: 48px;
				width: 48px;
				padding: 0;

				&__text {
					display: none;
				}
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1379.98px) {
	.header {
		&-logo,
		&-search,
		&-contacts {
			&:not(:last-child) {
				margin-right: 32px;
			}
		}
	}

	.mobile-menu {
		&.active {
			& .mobile-menu-close {
				right: 50px;
			}
		}
	}
}