.header {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;
	min-width: 375px;
	width: 100%;
	background-color: var(--white-color);

	&-container {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
	}

	&-search {
		position: relative;
		flex: 1;

		.input-search {
			&:not(:focus) {
				border-color: rgba(165, 165, 164, 0.3);
			}
		}

		// tmp
		/*&-results {
			z-index: 1;
			transition: var(--transition);
		}
		.search-results {
			display: flex;
			border-radius: 8px;
			box-shadow: 0 12px 32px rgba(128, 129, 133, 0.32);
			background-color: var(--white-color);

			&__header {
				transition: var(--transition);
			}
			&__sidebar {
				&-item {
					display: flex;
					flex-direction: column;
				}
				&-title {
					color: var(--text-secondary);
					font-weight: 700;
				}
			}
			&__match {
				&-item {
					position: relative;
					padding-right: 28px;
				}
			}
			&__link {
				justify-content: flex-start;
				border: none;
				border-radius: 0;
				font-weight: 400;
				font-size: 13px;
				letter-spacing: 0;
				text-transform: unset;

				&.btn .icon {
					min-width: 12px;
					width: 12px;
					min-height: 12px;
					height: 12px;
					fill: var(--interface8-color);
				}
				.btn__text {
					white-space: unset;
					line-height: 18px;
				}
				&-delete {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
				}

				&:hover {
					&.btn .icon {
						fill: var(--interface8-color);
					}
				}
			}

			&__suggest {
				&-list {
					overflow: auto;

					&::-webkit-scrollbar,
					&::-webkit-scrollbar-track,
					&::-webkit-scrollbar-thumb {
						min-width: 4px;
						width: 4px;
					}
					&::-webkit-scrollbar,
					&::-webkit-scrollbar-track {
						background-color: transparent;
					}
					&::-webkit-scrollbar-button {
						opacity: 0;
					}
					&::-webkit-scrollbar-thumb {
						border-radius: 2px;
					}
					&::-webkit-scrollbar-thumb {
						background-color: var(--surface-gray4-color);
						opacity: 0.4;
					}
				}
				&-details {
					z-index: 1;
					display: flex;
					align-items: center;
					padding-top: 12px;
					background-color: var(--white-color);
					line-height: 18px;
				}
				&-found {
					color: var(--text-secondary);
				}
			}
		}*/
	}

	// tmp
	/*.search-results-product {
		display: flex;
		align-items: flex-start;

		&__descr {
			display: flex;
			flex: 1;
			flex-direction: column;
			gap: 8px;

			&-header {
				display: flex;
				flex-direction: column;
				gap: 4px;
			}
			&-bottom {
				display: flex;
				justify-content: space-between;
			}
		}
		&__title {
			line-height: 1.3;
		}
		&__price {
			display: flex;
			flex: 1;
			flex-wrap: wrap;
			align-items: center;

			&-current {
				font-weight: 700;
			}
			&-originally {
				color: var(--interface8-color);
				text-decoration: line-through;
			}
		}
	}*/

	&-contacts {
		&__tel {
			display: flex;
			flex-direction: column;
			gap: 4px;
		}
		&__status,
		&__number {
			color: var(--interface1-color);
		}
		&__status {
			position: relative;
			font-weight: 500;
			font-size: 13px;

			&.on,
			&.off {
				padding-left: 16px;

				&::before {
					content: "";
					position: absolute;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
					min-width: 8px;
					width: 8px;
					min-height: 8px;
					height: 8px;
					border-radius: 50%;
				}
			}
			&.on {
				&::before {
					background-color: var(--green-color);
				}
			}
			&.off {
				&::before {
					background-color: var(--red-color);
				}
			}
		}
		&__number {
			color: var(--interface1-color);
			font-family: var(--font-family-unbounded);
			font-size: 16px;
		}
	}

	&-profile {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 12px;
	}

	&-catalog {
		position: relative;
		display: flex;
		align-items: flex-start;

		&-preview {
			display: flex;
			align-items: flex-start;
			gap: 70px;
			overflow: hidden;

			&,
			&__item {
				display: flex;
			}
			&__item {
				position: relative;
				align-items: center;
				padding-bottom: 14px;
				color: var(--interface1-color);
				font-weight: 700;
				font-size: 14px;
				line-height: 18px;
				letter-spacing: 0.7px;
				text-transform: uppercase;
				white-space: nowrap;

				&::before {
					content: "";
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
					min-width: 25%;
					width: 25%;
					min-height: 1px;
					height: 1px;
					background-color: var(--red-color);
					opacity: 0;
					transition: var(--transition);
				}

				&:hover {
					&::before {
						width: 100%;
						opacity: 1;
					}
				}
			}
		}
	}

	&:not(.dark-bg) {
		.header-logo {
			.logo-light {
				display: none;
			}
		}
	}
	&.dark-bg {
		background-color: var(--interface1-color);

		.header-logo {
			.logo-dark {
				display: none;
			}
		}
		.header-contacts {
			&__status {
				color: rgba(255, 255, 255, 0.8);
			}
			&__number {
				color: var(--white-color);
			}
		}
		.header-catalog {
			position: relative;
			display: flex;
			align-items: flex-start;

			&-preview {
				&__item {
					color: var(--white-color);
				}
			}
		}
	}
	&.header-transparent {
		&.dark-bg {
			background-color: transparent;
		}
	}
}

.burger {
	.icon {
		pointer-events: none;
	}
}

.mobile-menu {
	z-index: 2000;
	position: fixed;
	flex-direction: column;
	overflow: auto;
	user-select: auto;
	background-color: var(--white-color);
	transition: var(--transition);

	&::-webkit-scrollbar {
		width: 0;
	}
	&.active {
		& .mobile-menu-close {
			position: fixed;
			opacity: 1;
			pointer-events: auto;
			user-select: auto;
			cursor: pointer;

			& .icon {
				fill: var(--white-color);
			}
		}
	}

	&__item {
		padding: 16px;
	}

	&-list {
		flex: 1;

		& li {
			border-top: 1px solid var(--surface-gray5-color);
		}
		& .mobile-menu__item {
			padding-top: 10px;
			padding-bottom: 10px;
		}
		& .mobile-menu__link {
			min-width: 100%;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		color: var(--interface1-color);
		font-weight: 600;
		font-size: 11px;
		line-height: 24px;
		letter-spacing: 0.07em;
		text-transform: uppercase;
	}

	&-city {
		display: flex;
		align-items: center;
		gap: 8px;
		color: var(--text-secondary);

		& .icon {
			fill: var(--text-secondary);
		}
		&__text {
			display: flex;
			align-items: center;
			gap: 4px;
			width: min-content;

			& .icon {
				fill: var(--interface1-color);
			}
		}
		&:hover {
			color: var(--interface1-color);

			& .icon {
				fill: var(--interface1-color);
			}
		}
	}

	&-footer {
		& .mobile-menu__item {
			&:last-child {
				padding-top: 8px;
				padding-bottom: 32px;
			}
		}
	}

	&-login {
		display: flex;
		align-items: center;
		gap: 8px;

		& .btn {
			flex: 1;
		}
	}

	&-contacts {
		display: flex;
		flex-direction: column;

		&__number {
			color: var(--interface1-color);
			font-weight: 700;
			font-size: 16px;
			line-height: 1.3;
		}
		&__call {
			color: var(--text-secondary);
			font-size: 12px;
		}
	}
}

@media (min-width: 992px) {
	.header {
		padding-top: 40px;
		padding-bottom: 40px;

		&-contacts {
			margin-left: auto;
		}
	}
}
@media (min-width: 1380px) {
	.header {
		&-logo,
		&-search,
		&-contacts,
		&-profile {
			padding-top: 28px;
			padding-bottom: 28px;
		}

		&-logo,
		&-search {
			&:not(:last-child) {
				margin-right: 48px;
			}
		}

		&-search {
			max-width: 400px;

			// tmp
			/*&-results {
				position: absolute;

				&:not(.active) {
					display: none;
				}
			}
			.search-results {
				min-width: 780px;
				width: 780px;
				min-height: 750px;
				height: 750px;

				&__header {
					display: none;
				}
				&__sidebar {
					min-width: 300px;
					width: 300px;
					overflow: auto;
					border-right: 1px solid var(--surface-gray5-color);

					&::-webkit-scrollbar {
						width: 0;
					}
					&-item {
						gap: 16px;
						padding: 20px 24px;

						&:not(:last-child) {
							border-bottom: 1px solid var(--surface-gray5-color);
						}
					}
				}
				&__match {
					.search-results__sidebar-title {
						display: none;
					}
				}
				&__link {
					&-delete {
						right: 0;
					}
				}
				&__suggest {
					height: 100%;
					padding: 12px 4px 12px 12px;

					&-title {
						display: none;
					}
					&-list {
						height: 690px;
					}
					&-details {
						justify-content: space-between;
						gap: 32px;
						padding-bottom: 8px;
					}
					&-more {
						min-height: 0;
						height: auto;
						padding: 0;
						background-color: transparent;
						color: var(--red-color);
						font-weight: 400;
						font-size: 13px;
						line-height: 18px;
						letter-spacing: 0;
						text-transform: unset;

						&:hover {
							color: var(--interface1-color);
						}
					}
				}
			}*/
		}
		// tmp
		/*.search-results-product {
			gap: 16px;
			padding: 12px 16px 12px 0;

			&__view {
				&,
				img {
					min-width: 64px;
					width: 64px;
					min-height: 64px;
					height: 64px;
				}
			}
			&__descr {
				&-bottom {
					gap: 16px;
				}
			}
			&__title {
				font-weight: 600;
			}
			&__price {
				gap: 4px 8px;
			}
			&__cart {
				.cart-quantity {
					padding: 5px 6px;
				}
			}
		}*/

		&-catalog {
			min-width: 100%;
			padding-top: 32px;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				min-height: 1px;
				height: 1px;
				background-color: var(--interface10-color);
			}
		}

		&-contacts {
			&:not(:last-child) {
				margin-right: 40px;
			}
		}

		&-profile {
			&__btn {
				min-height: 44px;
				height: 44px;

				&-view {
					& .icon {
						min-width: 24px;
						width: 24px;
						min-height: 24px;
						height: 24px;
					}
				}
			}
		}

		&-mobile-menu {
			display: none;
		}
	}

	.mobile-menu {
		display: none;
	}
}
@media (max-width: 1379.98px) {
	.header {
		&-catalog {
			display: none;
		}

		& .header-logo,
		& .header-contacts,
		& .header-mobile-menu {
			margin-bottom: 14px;
		}

		& .header-logo,
		& .header-contacts,
		& .header-profile {
			&:not(:last-child) {
				padding-right: 20px;
			}
		}

		&-logo {
			order: 0;

			& .image {
				min-width: 130px;
				width: 130px;
				min-height: 36px;
				height: 36px;
			}
		}

		&-search {
			order: 20;
			min-width: 100%;

			& .input-search-wrapper {
				&::before {
					content: "";
					position: absolute;
					top: 50%;
				}
			}
			& .input-search {
				border-radius: 0;
				background: var(--surface-gray6-color);
			}
			& .input-search-btn {
				display: none;
			}

			&-results {
				position: fixed;
				top: 100vh;
				right: 0;
				left: 0;
				min-height: 100vh;
				height: 100vh;

				&.active {
					top: 0;

					.search-results {
						padding-top: 164px;

						&__header {
							top: 0;
						}
					}
					.input-search {
						padding: 9px 40px;
						border-radius: 4px;
						background-color: var(--white-color);
					}
				}
			}


			.search-results {
				flex-wrap: wrap;
				min-width: 100%;
				width: 100%;
				min-height: 100vh;
				height: 100vh;
				overflow: auto;

				&__header {
					z-index: 10;
					position: fixed;
					top: 100vh;
					right: 0;
					left: 0;
					display: flex;
					flex-direction: column;
					gap: 20px;
					width: 100vw;
					border-bottom: 1px solid var(--surface-gray5-color);
					background-color: var(--white-color);

					&-top {
						display: flex;
						align-items: center;
					}
				}
				&__close {
					display: flex;
					margin-left: auto;
				}
				&__search {
					display: flex;
					flex-direction: column;
					gap: 12px;
				}
				&__search,
				&__sidebar,
				&__suggest {
					min-width: 100%;
					width: 100%;
				}
				&__sidebar {
					display: flex;
					flex-wrap: wrap;
					border-bottom: 1px solid var(--surface-gray5-color);
				}
				&__match {
					min-width: 100%;

					.search-results__sidebar-title {
						border-bottom: 1px solid var(--surface-gray5-color);
					}
					&-item {
						border-bottom: 1px solid var(--surface-gray5-color);
					}
				}
				&__categories {
					display: none;
				}
				&__brands,
				&__series {
					flex: 1;
					padding-top: 8px;
					padding-bottom: 8px;
				}
				&__suggest {
					&-title {
						color: var(--text-secondary);
						font-weight: 700;
						line-height: 18px;
					}
					&-found {
						display: none;
					}
					&-details {
						justify-content: center;
						padding-bottom: 20px;
						border-top: 1px solid var(--surface-gray5-color);
					}
				}
			}
		}

		.search-results-product {
			gap: 12px;

			&__view {
				&,
				img {
					min-width: 40px;
					width: 40px;
					min-height: 40px;
					height: 40px;
				}
			}
			&__descr {
				&-bottom {
					gap: 12px;
				}
			}
			&__title {
				font-size: 12px;
			}
			&__price {
				font-size: 12px;

				&-current,
				&-originally {
					min-width: 100%;
				}
			}
			&__cart {
				.cart-quantity {
					padding: 7px 6px;

					&-input {
						min-width: 28px;
						width: 28px;
					}
				}
				.cart-in {
					min-height: 36px;
					height: 36px;
					padding: 5px 12px;
				}
			}
		}

		&-contacts {
			order: 2;

			&:not(:last-child) {
				margin-right: 12px;
			}
			&__tel {
				min-height: 36px;
				height: 36px;
			}
			&__number {
				font-weight: 600;
				font-size: 13px;
				line-height: 1;
				text-decoration: underline;
				text-decoration-style: dashed;
				text-underline-offset: 4px;

				&:hover {
					text-decoration: none;
					text-decoration-style: unset;
					text-underline-offset: unset;
				}
			}
			&__call {
				display: none;
			}
		}

		&-profile {
			order: 3;
		}

		&-mobile-menu {
			order: 10;

			& .burger {
				display: flex;
				padding: 2px;
				transform: scale(-1, 1);

				& .icon {
					min-width: 32px;
					width: 32px;
					min-height: 32px;
					height: 32px;
				}
			}
		}
	}

	.mobile-menu {
		top: 0;
		left: -100vw;
		display: flex;
		width: 300px;
		height: 100vh;

		&-close {
			z-index: 1;
			position: fixed;
			top: 14px;
			right: 100vw;
			min-width: 36px;
			width: 36px;
			min-height: 36px;
			height: 36px;
			padding: 2px;
			opacity: 0;
			pointer-events: none;
			user-select: none;
			cursor: default;

			& .icon {
				min-width: 32px;
				width: 32px;
				min-height: 32px;
				height: 32px;
			}
		}
		&.active {
			left: 0;
		}

	}
}
@media (max-width: 991.98px) {
	.header {
		&-search {
			margin-right: -16px;
			margin-left: -16px;

			& .input-search {
				padding: 12px 16px 12px 44px;
			}

			// tmp
			/*&-results {
				&.active {

					.mobile-search-results-hint {
						margin-right: -16px;
						margin-left: -16px;

						.swiper {
							padding-right: 16px;

							.swiper-slide {
								width: auto;

								&:first-child {
									margin-left: 16px;
								}
							}
						}
					}
				}
			}

			.search-results {
				&__header {
					padding: 12px 16px 20px;
				}
				&__match {
					.search-results__sidebar-title {
						padding: 10px 16px;
					}
					&-item {
						padding: 10px 56px 10px 16px;
					}
				}
				&__link {
					&-delete {
						right: 26px;
					}
				}
				&__brands,
				&__series {
					.search-results__sidebar-title,
					.search-results__link {
						padding: 9px 16px;
					}
				}
				&__suggest {
					&-title {
						padding: 11px 16px;
					}
				}
			}*/
		}

		// tmp
		/*.search-results-product {
			padding: 12px 16px;
		}*/
	}

	.mobile-menu {
		&.active {
			& .mobile-menu-close {
				right: 16px;
			}
		}

	}
}
@media (max-width: 767.98px) {
	.header {
		&-profile {
			display: none;
		}

		&-mobile-menu {
			margin-left: auto;
		}
	}
}
@media (min-width: 768px) and (max-width: 1379.98px) {
	.header {
		&-profile {
			&__btn {
				min-height: 36px;
				height: 36px;

				&-view {
					& .icon {
						min-width: 16px;
						width: 16px;
						min-height: 16px;
						height: 16px;
					}
				}
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1379.98px) {
	.header {
		&-search {
			margin-right: -50px;
			margin-left: -50px;

			& .input-search-wrapper {
				&::before {
					left: 50px;
				}
			}
			& .input-search {
				padding: 12px 50px 12px 78px;
			}

			// tmp
			/*&-results {
				&.active {
					.mobile-search-results-hint {
						margin-right: -50px;
						margin-left: -50px;

						.swiper {
							padding-right: 50px;

							.swiper-slide {
								width: auto;

								&:first-child {
									margin-left: 50px;
								}
							}
						}
					}
				}
			}

			.search-results {
				&__search {
					& .input-search-wrapper {
						&::before {
							left: 16px;
						}
					}
				}
				&__match {
					.search-results__sidebar-title {
						padding: 10px 50px;
					}
					&-item {
						padding: 10px 100px 10px 50px;
					}
				}
				&__link {
					&-delete {
						right: 70px;
					}
				}
				&__brands,
				&__series {
					.search-results__sidebar-title,
					.search-results__link {
						padding-top: 9px;
						padding-bottom: 9px;
					}
				}
				&__brands {
					.search-results__sidebar-title,
					.search-results__link {
						padding-right: 16px;
						padding-left: 50px;
					}
				}
				&__series {
					.search-results__sidebar-title,
					.search-results__link {
						padding-right: 50px;
						padding-left: 16px;
					}
				}
				&__suggest {
					&-title {
						padding: 11px 50px;
					}
				}
			}*/
		}

		// tmp
		/*.search-results {
			&__header {
				padding: 12px 50px 20px;
			}
		}

		.search-results-product {
			padding: 12px 50px;

			&__cart {
				.cart-quantity {
					padding: 7px 6px;

					&-input {
						min-width: 28px;
						width: 28px;
					}
				}
				.cart-in {
					min-height: 36px;
					height: 36px;
					padding: 5px 12px;
				}
			}
		}*/
	}

	.mobile-menu {
		&.active {
			& .mobile-menu-close {
				right: 50px;
			}
		}
	}
}