@font-face {
	font-family: 'SF Pro Display';
	src: url('../fonts/SFPro/SFProDisplay-Regular.eot');
	src: local('../fonts/SFPro/SF Pro Display Regular'), local('../fonts/SFPro/SFProDisplay-Regular'),
	url('../fonts/SFPro/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/SFPro/SFProDisplay-Regular.woff2') format('woff2'),
	url('../fonts/SFPro/SFProDisplay-Regular.woff') format('woff'),
	url('../fonts/SFPro/SFProDisplay-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'SF Pro Display';
	src: url('../fonts/SFPro/SFProDisplay-Medium.eot');
	src: local('../fonts/SFPro/SF Pro Display Medium'), local('../fonts/SFPro/SFProDisplay-Medium'),
	url('../fonts/SFPro/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/SFPro/SFProDisplay-Medium.woff2') format('woff2'),
	url('../fonts/SFPro/SFProDisplay-Medium.woff') format('woff'),
	url('../fonts/SFPro/SFProDisplay-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'SF Pro Display';
	src: url('../fonts/SFPro/SFProDisplay-Bold.eot');
	src: local('../fonts/SFPro/SF Pro Display Bold'), local('../fonts/SFPro/SFProDisplay-Bold'),
	url('../fonts/SFPro/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/SFPro/SFProDisplay-Bold.woff2') format('woff2'),
	url('../fonts/SFPro/SFProDisplay-Bold.woff') format('woff'),
	url('../fonts/SFPro/SFProDisplay-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'SF Pro Display';
	src: url('../fonts/SFPro/SFProDisplay-Heavy.eot');
	src: local('../fonts/SFPro/SF Pro Display Heavy'), local('../fonts/SFPro/SFProDisplay-Heavy'),
	url('../fonts/SFPro/SFProDisplay-Heavy.eot?#iefix') format('embedded-opentype'),
	url('../fonts/SFPro/SFProDisplay-Heavy.woff2') format('woff2'),
	url('../fonts/SFPro/SFProDisplay-Heavy.woff') format('woff'),
	url('../fonts/SFPro/SFProDisplay-Heavy.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}


@font-face {
	font-family: "Unbounded";
	src: url("../fonts/Unbounded/Unbounded-Bold.ttf");
	src: local("../fonts/Unbounded/Unbounded-Bold"),
	url("../fonts/Unbounded/Unbounded-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

