* {
	outline: none;
}
*, ::before, ::after {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 320px;
	min-height: 100vh;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	font-family: var(--font-family-sfpro);
	background-color: var(--interface20-color);
	color: var(--interface2-color);
}
.index {
	background-color: var(--white-color);
}
@media (min-width: 992px) {
	html,
	body {
		font-size: 20px;
		line-height: 1.4;
	}
}
@media (max-width: 991.98px) {
	html,
	body {
		font-size: 14px;
		line-height: 1.3;
	}
}

.flex {
	&,
	&-start-start,
	&-start-center,
	&-start-end,
	&-center-start,
	&-center-center,
	&-center-end,
	&-end-start,
	&-end-center,
	&-end-end {
		display: flex;
	}

	&-inline {
		display: inline-flex;
	}

	&-start-start {
		justify-content: flex-start;
		align-items: flex-start;
	}
	&-start-center {
		justify-content: flex-start;
		align-items: center;
	}
	&-start-end {
		justify-content: flex-start;
		align-items: flex-end;
	}

	&-center-start {
		justify-content: center;
		align-items: flex-start;
	}
	&-center-center {
		justify-content: center;
		align-items: center;
	}
	&-center-end {
		justify-content: center;
		align-items: flex-end;
	}

	&-end-start {
		justify-content: flex-end;
		align-items: flex-start;
	}
	&-end-center {
		justify-content: flex-end;
		align-items: center;
	}
	&-end-end {
		justify-content: flex-end;
		align-items: flex-end;
	}

	&-around-start {
		justify-content: space-around;
		align-items: flex-start;
	}
	&-around-center {
		justify-content: space-around;
		align-items: center;
	}
	&-around-end {
		justify-content: space-around;
		align-items: flex-end;
	}

	&-between-start {
		justify-content: space-between;
		align-items: flex-start;
	}
	&-between-center {
		justify-content: space-between;
		align-items: center;
	}
	&-between-end {
		justify-content: space-between;
		align-items: flex-end;
	}

	&-evenly-start {
		justify-content: space-evenly;
		align-items: flex-start;
	}
	&-evenly-center {
		justify-content: space-evenly;
		align-items: center;
	}
	&-evenly-end {
		justify-content: space-evenly;
		align-items: flex-end;
	}

	&-1 {
		flex: 1;
	}
}
.grow {
	&-1 {
		flex-grow: 1;
	}
	&-2 {
		flex-grow: 2;
	}
}

.w-100 {
	min-width: 100%!important;
	width: 100%!important;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	color: var(--interface2-color);
	font-family: var(--font-family-unbounded);
	font-weight: 700;
	line-height: 1.3;
}
.h-gray {
	color: var(--interface21-color);
}
@media (min-width: 992px) {
	h1, .h1 {
		font-size: 56px;
	}
	h2, .h2 {
		font-size: 48px;
	}
	h3, .h3 {
		font-size: 40px;
	}
	h4, .h4 {
		font-size: 32px;
	}
	h5, .h5 {
		font-size: 24px;
	}
	h6, .h6 {
		font-size: 20px;
	}
}
@media (max-width: 991.98px) {
	h1, .h1, h2, .h2 {
		font-size: 30px;
	}
	h3, .h3 {
		font-size: 24px;
	}
	h4, .h4 {
		font-size: 20px;
	}
	h5, .h5, h6, .h6 {
		font-size: 18px;
	}
}

@media (min-width: 992px) {
	.gap {
		&-xxs {
			margin-bottom: 12px !important;
		}
		&-xs {
			margin-bottom: 16px !important;
		}
		&-sm {
			margin-bottom: 20px !important;
		}
		&-md {
			margin-bottom: 24px !important;
		}
		&-lg {
			margin-bottom: 32px !important;
		}
		&-xl {
			margin-bottom: 40px !important;
		}
		&-xxl {
			margin-bottom: 80px !important;
		}
	}

	.mobile-only {
		display: none !important;
	}
}
@media (max-width: 991.98px) {
	.gap {
		&-xxs {
			margin-bottom: 8px !important;
		}
		&-xs,
		&-sm {
			margin-bottom: 12px !important;
		}
		&-md {
			margin-bottom: 16px !important;
		}
		&-lg {
			margin-bottom: 20px !important;
		}
		&-xl {
			margin-bottom: 24px !important;
		}
		&-xxl {
			margin-bottom: 40px !important;
		}
	}

	.desktop-only {
		display: none !important;
	}

	.slider-out {
		min-width: 100%;
		margin-right: calc(var(--container-offset) * -1);
		margin-left: calc(var(--container-offset) * -1);
	}
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
	transition: var(--transition);
}

img {
	max-width: 100%;
	overflow: hidden;
	object-fit: contain;
	user-select: none;
}
.image-cover {
	object-fit: cover;
}
svg {
	max-width: 100%;
	max-height: 100%;
}
.icon {
	min-width: 16px;
	width: 16px;
	min-height: 16px;
	height: 16px;
	user-select: none;
	transition: var(--transition);

	&-sm {
		min-width: 16px!important;
		width: 16px!important;
		min-height: 16px!important;
		height: 16px!important;
	}
	&-md {
		min-width: 20px!important;
		width: 20px!important;
		min-height: 20px!important;
		height: 20px!important;
	}
	&-lg {
		min-width: 24px!important;
		width: 24px!important;
		min-height: 24px!important;
		height: 24px!important;
	}
	&-xl {
		min-width: 32px!important;
		width: 32px!important;
		min-height: 32px!important;
		height: 32px!important;
	}

	&-fill {
		stroke: none!important;
	}
	&-stroke {
		fill: none!important;
	}
}

.h-icon {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-color: var(--red3-color);

	&-wrapper {
		display: flex;
		gap: 8px;
	}
	.icon {
		fill: var(--white-color);
		stroke: var(--white-color);
	}
}
.text-action {
	display: flex;
	flex-wrap: wrap;
	gap: 0 8px;

	&-content {
		color: rgba(31, 37, 45, 0.7);
		line-height: 1.5;
	}
	&-more {
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}
}
@media (min-width: 992px) {
	.h-icon {
		min-width: 48px;
		width: 48px;
		min-height: 48px;
		height: 48px;
		margin: 8px 0 8px auto;

		.icon {
			min-width: 24px;
			width: 24px;
			min-height: 24px;
			height: 24px;
		}
	}
	.text-action {
		align-items: flex-end;

		&-content {
			max-width: 870px;
		}
		&-more {
			margin: 8px 0 8px auto;
		}
	}
}
@media (max-width: 991.98px) {
	.h-icon {
		min-width: 32px;
		width: 32px;
		min-height: 32px;
		height: 32px;
		margin: 4px 0 4px auto;

		.icon {
			min-width: 16px;
			width: 16px;
			min-height: 16px;
			height: 16px;
		}
	}
	.text-action {
		&-content {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
		&-more {
			justify-content: center;
			margin: 0 auto;
		}
	}
}

.dis-scroll {
	overflow: hidden;
	overscroll-behavior: none;
}

.overflow-hidden {
	overflow: hidden !important;
}

.is-hidden {
	display: none !important;
}

.visually-hidden {
	position: absolute !important;
	overflow: hidden !important;
	margin: 0 !important;
	border: 0 !important;
	padding: 0 !important;
	width: 0 !important;
	height: 0 !important;
	clip: rect(0 0 0 0) !important;
}

.pre-hidden {
	animation: pre-hidden 1s;
}
@keyframes pre-hidden {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.overlay,
.overlay-transparent {
	z-index: 2000;
	position: fixed;
	cursor: pointer;

	&::before {
		content: "";
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}
.overlay {
	&::before {
		background-color: rgba(0, 0, 0, 0.7);
	}
}
.overlay-transparent {
	&::before {
		background-color: transparent;
	}
}

.fancybox-container {
	backdrop-filter: blur(10px);
}
.fancybox-bg {
	background-color: #000;
}
.fancybox-is-open .fancybox-bg {
	opacity: 0.3;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-center {
	text-align: center;
}
.text-center {
	text-align: center;
}

sup {
	top: 0;
	font-size: 65%;
}

.fw-normal {
	font-weight: 400;
}
.fw-medium {
	font-weight: 500;
}
.fw-semibold {
	font-weight: 600;
}
.fw-bold {
	font-weight: 700;
}
.fw-extrabold {
	font-weight: 800;
}

.fz-xxs {
	font-size: 11px;
}
@media (min-width: 992px) {
	.fz-md {
		font-size: 16px;
	}
	.fz-sm {
		font-size: 14px;
	}
}
@media (max-width: 991.98px) {
	.fz-md {
		font-size: 13px;
	}
	.fz-sm {
		font-size: 12px;
	}
}

.lh-lg {
	line-height: 1.6;
}

.bg-blur {
	backdrop-filter: blur(10px);

	&-10 {
		background-color: rgba(0, 0, 0, 0.1);
	}
	&-15 {
		background-color: rgba(0, 0, 0, 0.15);
	}
	&-30 {
		background-color: rgba(0, 0, 0, 0.3);
	}
	&-40 {
		background-color: rgba(0, 0, 0, 0.4);
	}
}
.bgc-white {
	background-color: var(--white-color);
}

.interface0-color {
	color: var(--interface0-color)!important;
}
.interface1-color {
	color: var(--interface1-color)!important;
}
.interface2-color {
	color: var(--interface2-color)!important;
}
.interface3-color {
	color: var(--interface3-color)!important;
}
.interface4-color {
	color: var(--interface4-color)!important;
}
.interface5-color {
	color: var(--interface5-color)!important;
}
.interface10-color {
	color: var(--interface10-color)!important;
}
.interface11-color {
	color: var(--interface11-color)!important;
}
.interface12-color {
	color: var(--interface12-color)!important;
}
.interface13-color {
	color: var(--interface13-color)!important;
}
.interface14-color {
	color: var(--interface14-color)!important;
}
.interface15-color {
	color: var(--interface15-color)!important;
}
.interface16-color {
	color: var(--interface16-color)!important;
}
.interface17-color {
	color: var(--interface17-color)!important;
}
.interface18-color {
	color: var(--interface18-color)!important;
}
.interface19-color {
	color: var(--interface19-color)!important;
}
.interface20-color {
	color: var(--interface20-color)!important;
}
.interface21-color {
	color: var(--interface21-color)!important;
}
.interface22-color {
	color: var(--interface22-color)!important;
}
.interface23-color {
	color: var(--interface23-color)!important;
}
.interface24-color {
	color: var(--interface24-color)!important;
}
.red1-color {
	color: var(--red1-color)!important;
}
.red2-color {
	color: var(--red2-color)!important;
}
.red3-color {
	color: var(--red3-color)!important;
}

.no-line-break {
	white-space: nowrap!important;
}

.c-pointer {
	cursor: pointer !important;
}

.brand-3r {
	display: inline-flex;
	color: var(--interface2-color);
	font-weight: 800;

	span {
		&:last-child {
			color: var(--red3-color);
		}
	}
}

.logo {
	display: flex;
}

.btn-reset {
	padding: 0;
	border: none;
	background-color: transparent;
	color: inherit;
	cursor: pointer;
}
.btn-g {
	display: flex;
	flex-wrap: wrap;
}
.btn {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	min-height: 56px;
	height: 56px;
	padding: 0 32px;
	border: 2px solid transparent;
	background-color: var(--red2-color);
	color: var(--white-color);
	font-size: 15px;
	font-weight: 700;
	line-height: 24px;
	cursor: pointer;
	transition: var(--transition);

	.text-content,
	.icon {
		user-select: none;
	}
	.text-content {
		white-space: nowrap;
	}
	.icon {
		min-width: 16px;
		width: 16px;
		min-height: 16px;
		height: 16px;

		fill: var(--white-color);
		stroke: var(--white-color);
	}
	&-scale {
		&:hover,
		&:active,
		&.active {
			transform: scale(1.18);
		}
	}

	&-primary {
		border-color: var(--red2-color);
		background-color: transparent;
		color: var(--interface2-color);

		.icon {
			fill: var(--red2-color);
			stroke: var(--red2-color);
		}
	}
	&-secondary {
		border-color: var(--white-color);
		background-color: var(--white-color);
		color: var(--interface2-color);

		.icon {
			fill: var(--white-color);
			stroke: var(--white-color);
		}
	}

	&-info {
		gap: unset;
		min-height: unset;
		height: unset;
		padding: unset;
		border: none;
		background-color: unset;
		color: unset;
		font-size: unset;
		font-weight: unset;
		line-height: unset;

		&__view {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: var(--red3-color);

			.icon {
				fill: var(--white-color);
				stroke: var(--white-color);
			}
		}
		&__descr {
			display: flex;
			align-items: center;
			background-color: var(--white-color);
			color: var(--interface2-color);
			font-weight: 500;
			line-height: 1.5;

			.text-content {
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}
		}

		&--gray {
			.btn-info__descr {
				background-color: var(--interface20-color);
			}
		}
	}
}
@media (min-width: 992px) {
	.btn-g {
		gap: 48px 60px;
	}
	.btn {
		&-info {
			min-height: 70px;
			height: 70px;

			&__view {
				min-width: 70px;
				width: 70px;
				min-height: 70px;
				height: 70px;

				.icon {
					min-width: 24px;
					width: 24px;
					min-height: 24px;
					height: 24px;
				}
			}
			&__descr {
				min-height: 70px;
				height: 70px;
				padding-right: 32px;
				padding-left: 32px;
				font-size: 18px;
			}
		}
	}
}
@media (max-width: 991.98px) {
	.btn-g {
		gap: 20px;
	}
	.btn {
		&-info {
			min-height: 56px;
			height: 56px;

			&__view {
				min-width: 56px;
				width: 56px;
				min-height: 56px;
				height: 56px;

				.icon {
					min-width: 16px;
					width: 16px;
					min-height: 16px;
					height: 16px;
				}
			}
			&__descr {
				min-height: 56px;
				height: 56px;
				padding-right: 8px;
				padding-left: 8px;
				font-size: 14px;
			}
		}
	}
}

.link {
	color: inherit;

	&-tdu {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

.list {
	&-reset {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&-default {
		li {
			position: relative;

			&::before {
				content: '';
				position: absolute;
				left: 0;
				border-radius: 50%;
				background-color: var(--red3-color);
			}
		}
	}
	&-nowrap {
		li {
			break-inside: avoid;
		}
	}
	&-count {
		counter-reset: zippers-structure-count;

		&__item {
			position: relative;
			display: flex;
			flex-direction: column;
			gap: 8px;
			counter-increment: zippers-structure-count;

			&::before {
				content: counter(zippers-structure-count);
				position: absolute;
				left: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: var(--red3-color);
				color: var(--white-color);
				font-weight: 700;
				line-height: 1;
			}
		}
		&__title {
			font-weight: 600;
		}
		&__title,
		&__text {
			line-height: 20px;
		}
	}
}
@media (min-width: 992px) {
	.list {
		&-default {
			li {
				padding-left: 18px;

				&::before {
					top: 12px;
					min-width: 5px;
					width: 5px;
					min-height: 5px;
					height: 5px;
				}
				&:not(:last-child) {
					margin-bottom: 12px;
				}
			}
		}

		&-count {
			column-count: 2;
			column-gap: 32px;

			&__item {
				margin-bottom: 24px;
				padding-left: 60px;
				break-inside: avoid;

				&::before {
					top: 4px;
					min-width: 36px;
					width: 36px;
					min-height: 36px;
					height: 36px;
					margin-right: 24px;
					font-size: 24px;
				}
			}
			&__title {
				font-size: 15px;
			}
			&__text {
				font-size: 14px;
			}
		}
	}
}
@media (max-width: 991.98px) {
	.list {
		&-default {
			line-height: 1.2;

			li {
				padding-left: 12px;

				&::before {
					top: 7px;
					min-width: 4px;
					width: 4px;
					min-height: 4px;
					height: 4px;
				}
				&:not(:last-child) {
					margin-bottom: 8px;
				}
			}
		}

		&-count {
			&__item {
				margin-bottom: 20px;
				padding-left: 36px;

				&::before {
					top: -2px;
					min-width: 28px;
					width: 28px;
					min-height: 28px;
					height: 28px;
					margin-right: 8px;
					font-size: 16px;
				}
			}
			&__title {
				font-size: 15px;
			}
			&__text {
				font-size: 12px;
			}
		}
	}
}

p {
	margin-top: 0;

	&:last-child {
		margin-bottom: 0;
	}
}
@media (min-width: 992px) {
	p {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}
@media (max-width: 991.98px) {
	p {
		&:not(:last-child) {
			margin-bottom: 12px;
		}
	}
}

.input-reset {
	padding: 0;
	overflow: hidden;
	border: none;
	border-radius: 0;
	background-color: #fff;
	-webkit-appearance: none;
	appearance: none;

	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		display: none;
	}
}
input:disabled,
input.disabled {
	cursor: not-allowed;
}

.split-heading {
	display: flex;
	flex-direction: column;
	gap: 4px;

	&__other {
		font-weight: 700;
	}
}
@media (min-width: 992px) {
	.split-heading {
		&__other {
			font-size: 24px;
		}
	}
}
@media (max-width: 991.98px) {
	.split-heading {
		&__other {
			font-size: 18px;
		}
	}
}

.block {
	overflow-x: auto;
	overflow-y: hidden;

	&-border-top {
		border-top: 1px solid var(--interface18-color);
	}
	&-border-bottom {
		border-bottom: 1px solid var(--interface18-color);
	}
}
@media (min-width: 992px) {
	.block {
		padding-top: 80px;
		padding-bottom: 80px;

		&--min {
			padding-top: 40px;
			padding-bottom: 40px;
		}
		&-top {
			padding-top: 80px;

			&--min {
				padding-top: 40px;
			}
		}
		&-bottom {
			padding-bottom: 80px;

			&--min {
				padding-bottom: 40px;
			}
		}
	}
}
@media (max-width: 991.98px) {
	.block {
		padding-top: 32px;
		padding-bottom: 32px;

		&-top {
			padding-top: 32px;

			&--min {
				padding-top: 24px;
			}
		}
		&-bottom {
			padding-bottom: 32px;

			&--min {
				padding-bottom: 24px;
			}
		}
	}
}

@media (min-width: 992px) {
	.compact-content {
		&-x {
			max-width: 970px;
			margin-right: auto;
			margin-left: auto;
		}
		&-right {
			max-width: 1070px;
			margin-right: auto;
		}
		&-left {
			max-width: 1070px;
			margin-left: auto;
		}
	}
}

.custom-checkbox,
.custom-radio {
	display: inline-flex;
	align-items: center;
	gap: 8px;
	line-height: 1;
	cursor: default;

	&__input {
		position: relative;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		margin: 0;
		border: 0;
		background-color: var(--red3-color);
		appearance: none;
		transition: var(--transition);

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			opacity: 0;
			transition: var(--transition);
		}
		&:not(:checked) {
			&:hover {
				border-color: var(--interface1-color);
			}
		}
		&:checked,
		&.checked {
			&,
			&:hover {
				border-color: var(--red1-color);
			}
			&::before {
				opacity: 1;
			}
		}
		&:not(:disabled),
		&:not(.disabled) {
			cursor: pointer;

			& ~ .custom-checkbox__label-for,
			& ~ .custom-radio__label-for {
				color: var(--interface3-color);
			}
		}
		&:disabled,
		&.disabled {
			cursor: default;

			&,
			&:hover {
				border-color: var(--interface3-color);
				background-color: var(--interface3-color);
			}
			& ~ .custom-checkbox__label-for,
			& ~ .custom-radio__label-for {
				color: var(--interface3-color);
				user-select: none;
			}
		}
	}
}
.custom-checkbox {
	&__input {
		&:checked {
			&,
			&:hover {
				background-color: var(--red3-color);
			}
		}
	}
	&__input {
		&::before {
			background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAxNiAxMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEgNC41TDYgOS41TDE0LjUgMSIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIi8+Cjwvc3ZnPgo=");
		}
		&:checked {
			&:disabled,
			&.disabled {
				&::before {
					background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMiAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMS4yMDcxIDEuMDg1ODZDMTEuNTk3NiAxLjQ3NjM5IDExLjU5NzYgMi4xMDk1NSAxMS4yMDcxIDIuNTAwMDhMNC41IDkuMjA3MThMMC43OTI4OTMgNS41MDAwOEMwLjQwMjM2OSA1LjEwOTU1IDAuNDAyMzY5IDQuNDc2MzkgMC43OTI4OTMgNC4wODU4NkMxLjE4MzQyIDMuNjk1MzQgMS44MTY1OCAzLjY5NTM0IDIuMjA3MTEgNC4wODU4Nkw0LjUgNi4zNzg3Nkw5Ljc5Mjg5IDEuMDg1ODZDMTAuMTgzNCAwLjY5NTMzOCAxMC44MTY2IDAuNjk1MzM4IDExLjIwNzEgMS4wODU4NloiIGZpbGw9IiNFOEVBRUIiLz4KPC9zdmc+Cg==");
				}
			}
		}
		&--checkline {
			&::before {
				min-height: 2px;
				height: 2px;
				background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMiIgdmlld0JveD0iMCAwIDEyIDIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xIDFIMTEiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+Cjwvc3ZnPgo=");
			}
			&:checked {
				&:disabled,
				&.disabled {
					&::before {
						background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMiIgdmlld0JveD0iMCAwIDEyIDIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xIDFIMTEiIHN0cm9rZT0iI0U4RUFFQiIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==");
					}
				}
			}
		}
	}
}
.custom-radio {
	&__input {
		border-radius: 50%;
	}
	&__input::before {
		border-radius: 50%;
		background-image: none;
		background: var(--white-color);
	}
	&__input:checked:disabled::before,
	&__input:checked.disabled::before {
		background: none;
	}
}
@media (min-width: 992px) {
	.custom-checkbox,
	.custom-radio {
		&__input {
			min-width: 24px;
			width: 24px;
			min-height: 24px;
			height: 24px;
		}
		&:not(:last-child) {
			margin: 0 16px 0 0;
		}
		&__label-for {
			font-size: 20px;
		}
	}
	.custom-checkbox {
		&__input {
			&::before {
				min-width: 12px;
				width: 12px;
				min-height: 10px;
				height: 10px;
			}
		}
	}
	.custom-radio {
		&__input {
			&::before {
				min-width: 8px;
				width: 8px;
				min-height: 8px;
				height: 8px;
			}
		}
	}
}
@media (max-width: 991.98px) {
	.custom-checkbox,
	.custom-radio {
		&__input {
			min-width: 16px;
			width: 16px;
			min-height: 16px;
			height: 16px;
		}
		&:not(:last-child) {
			margin: 0 8px 0 0;
		}
		&__label-for {
			font-size: 13px;
		}
	}
	.custom-checkbox {
		&__input {
			&::before {
				min-width: 8px;
				width: 8px;
				min-height: 6px;
				height: 6px;
			}
		}
	}
	.custom-radio {
		&__input {
			&::before {
				min-width: 4px;
				width: 4px;
				min-height: 4px;
				height: 4px;
			}
		}
	}
}

.input-wrapper {
	position: relative;
	min-width: 100%;

	.btn {
		min-width: 100%;
		width: 100%;
	}
}
.input {
	min-width: 100%;
	padding: 15px 11px;
	border: 1px solid var(--interface20-color);
	border-radius: unset;
	background: var(--interface20-color);
	color: var(--interface2-color);
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	transition: var(--transition);

	&::placeholder {
		color: var(--interface24-color);
	}

	&-error-msg {
		padding-top: 8px;
		color: var(--red3-color);
		font-size: 11px;
		line-height: 1;
		text-align: center;
	}
	&:not(.error) {
		& ~ .input-error-msg {
			display: none;
		}
	}
	&.error {
		border-color: var(--red3-color);
		color: var(--red3-color);

		&::placeholder {
			color: var(--red3-color);
		}
	}
}
@media (min-width: 992px) {
	.input-wrapper {
		min-width: 320px;
		width: 320px;
		padding-right: 10px;
		padding-left: 10px;
	}
	.input {
		min-width: 300px;
		width: 300px;

		&-error-msg {
			min-width: 320px;
			width: 320px;
			margin-right: -10px;
			margin-left: -10px;
		}
	}
}
@media (max-width: 991.98px) {
	.input {
		min-width: 100%;
		width: 100%;
	}
}

.tooltip {
	display: inline-flex;
	align-self: flex-end;
	vertical-align: bottom;
	cursor: pointer;
}
.tippy {
	&-box {
		border-radius: 4px;
		box-shadow: 0 4px 6px rgba(213, 213, 214, 0.5);
		background: var(--interface2-color);
		font-size: 12px;
	}
	&-content {
		padding: 10px 12px;
	}
}

.swiper-pagination {
	z-index: 2;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;

	.swiper-pagination-bullet {
		min-width: 3px;
		width: 3px;
		min-height: 3px;
		height: 3px;
		margin: 0 5px;
		opacity: 1;
		border-radius: unset;
		background: var(--interface16-color);
		transition: 0.2s linear;
	}
	.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
	.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
		margin: 0 3px;
	}
	.swiper-pagination-bullet-active {
		min-width: 7px;
		width: 7px;
		min-height: 7px;
		height: 7px;
		background: var(--red3-color);
	}
}
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
	bottom: 20px;
}

.swiper-navigation {
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;

	.swiper-button-prev,
	.swiper-button-next {
		position: absolute;
		top: 0;
		display: flex;
		margin-top: unset;
		background-color: transparent;
		color: var(--interface5-color);
		transition: var(--transition);

		&::after {
			content: none;
		}
		&.swiper-button-disabled {
			opacity: 0.5;
		}
		.btn {
			min-width: 100%;
			width: 100%;
			min-height: 100%;
			height: 100%;
			padding: unset;
			background-color: transparent;
			font-size: 0;
		}
		.icon {
			fill: var(--interface5-color);
			stroke: var(--interface5-color);
		}

		&:hover,
		&:active,
		&.active {
			.btn {
				border-color: var(--red2-color);
				background-color: var(--red2-color);

				.icon {
					fill: var(--white-color);
					stroke: var(--white-color);
				}
			}
		}
	}
	.swiper-button-prev,
	.swiper-rtl .swiper-button-next {
		left: 0;
		right: auto;

		.icon {
			transform: rotate(180deg);
		}
	}
	.swiper-button-next,
	.swiper-rtl .swiper-button-prev {
		right: 0;
		left: auto;

		.icon {
			transform: rotate(0deg);
		}
	}
}
@media (min-width: 992px) {
	.swiper-navigation {
		min-height: 60px;
		height: 60px;
		margin-top: -30px;

		.swiper-button-prev,
		.swiper-button-next {
			min-width: 60px;
			width: 60px;
			min-height: 60px;
			height: 60px;

			.btn {
				border: 2px solid var(--interface17-color);
			}
			.icon {
				min-width: 24px;
				width: 24px;
				min-height: 24px;
				height: 24px;
			}
		}
	}
}
@media (max-width: 991.98px) {
	.swiper-navigation {
		min-height: 32px;
		height: 32px;
		margin-top: -16px;

		.swiper-button-prev,
		.swiper-button-next {
			min-width: 32px;
			width: 32px;
			min-height: 32px;
			height: 32px;

			.btn {
				border: 1px solid var(--interface17-color);
			}
			.icon {
				min-width: 16px;
				width: 16px;
				min-height: 16px;
				height: 16px;
			}
		}
	}
}

.basic-slider-wrap {
	position: relative;

	&--overflow-hidden {
		overflow: hidden;
	}
}
.basic-slider {
	z-index: 10;
	overflow: visible;

	.swiper-slide {
		width: auto;
		height: auto;

		.card {
			min-width: 100%;
			width: 100%;
			min-height: 100%;
			height: 100%;
		}
	}

	&.nav-out {
		& ~ .swiper-navigation {
			right: -100px;
			left: -100px;
		}
	}
}
@media (max-width: 991.98px) {
	.slider-out {
		.basic-slider {
			padding-right: 10px;
			padding-left: 10px;
		}
	}
}

.video-wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;

	.video-container {
		position: relative;
		display: inline-flex;

		&--16\/9 {
			aspect-ratio: 16/9;
		}
	}
	&,
	.video-container,
	.video-player {
		min-width: 100%;
		width: 100%;
		overflow: hidden;
	}
	.video-player {
		cursor: pointer;
	}
	.video-cover {
		z-index: 1;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		gap: 8px;
		background-color: var(--interface2-color);
		pointer-events: none;
		user-select: none;
		transition: var(--transition);
	}
	.video-cover.video-cover--hidden {
		opacity: 0;
	}
	.video-controls {
		z-index: 3;
		position: absolute;
		top: 50%;
		left: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		pointer-events: none;
		user-select: none;
		transition: var(--transition);
	}
	.video-poster {
		z-index: 1;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		min-width: 100%;
		width: 100%;
		overflow: hidden;
		transition: var(--transition);
	}
	.video-caption {
		z-index: 2;
		position: relative;
		color: rgba(255, 255, 255, 0.7);
		font-weight: 500;
		line-height: 20px;
		pointer-events: none;
		user-select: none;
		transition: var(--transition);
	}

	&:hover {
		.video-cover {
			background-color: transparent;
		}
		.video-controls {
			transform: scale(1.15);
		}
		.video-poster {
			transform: scale(1.1);
		}
		.video-caption {
			color: var(--white-color);
		}
	}
}
@media (min-width: 992px) {
	.video-wrapper {
		.video-cover {
			padding: 20px;
		}
		.video-controls {
			min-width: 52px;
			width: 52px;
			min-height: 52px;
			height: 52px;
			margin-top: -26px;
			margin-left: -26px;
		}
		.video-caption {
			font-size: 15px;
		}
	}
}
@media (max-width: 991.98px) {
	.video-wrapper {
		.video-cover {
			padding: 12px 16px;
		}
		.video-controls {
			min-width: 40px;
			width: 40px;
			min-height: 40px;
			height: 40px;
			margin-top: -20px;
			margin-left: -20px;
		}
		.video-caption {
			font-size: 13px;
		}
	}
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background-color: var(--white-color);
	transition: var(--transition);

	&:not(a) {
		cursor: default;
	}
	&__view {
		position: relative;
		display: flex;
		min-width: 100%;
		width: 100%;

		.image {
			min-width: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	&__date {
		position: absolute;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 24px;
		height: 24px;
		padding: 0 8px;
		background-color: rgba(0,0,0,0.5);
		color: var(--white-color);
		font-weight: 500;
		font-size: 14px;
		line-height: 1;
	}
	&__descr,
	&__text-content {
		display: flex;
		flex: 1;
		flex-direction: column;
	}
	&__descr {
		gap: 24px;
	}
	&__title {
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		font-weight: 700;
		line-height: 1.2;
	}
	&__text {
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
	&__tag {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		gap: 4px;
		border-radius: 8px;
		background-color: rgba(0, 0, 0, 0.5);
		color: var(--interface18-color);
		font-size: 13px;
		line-height: 1.2;

		&-list {
			display: flex;
			flex-wrap: wrap;
			gap: 8px;
		}
	}
	&__more {
		.btn {
			min-width: 100%;
			width: 100%;
		}
	}

	&-default {
		.card__view {
			.image {
				min-height: 220px;
				height: 220px;
			}
		}
		.card__more {
			.btn {
				justify-content: space-between;
			}
		}
	}
	&-catalog,
	&-category,
	&-subcategory {
		.card__descr {
			position: absolute;
			inset: 0;
		}
		.card__text-content {
			justify-content: flex-end;
			color: var(--white-color);
		}
	}
	&-category,
	&-subcategory {
		.card__title {
			-webkit-line-clamp: 4;
		}
	}
	&-subcategory-type {
		&__header {
			display: flex;
			flex-direction: column;

			&:not(:last-child) {
				margin-bottom: 24px;
			}
		}
		&__title,
		&__subtitle,
		&__label {
			text-align: center;
		}
		&__label {
			min-height: 48px;
			padding-bottom: 8px;

			&-content {
				position: relative;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				min-height: 40px;
				padding: 8px 20px;
				background-color: var(--red3-color);
				color: var(--white-color);
				font-weight: 700;

				&::before {
					content: "";
					position: absolute;
					bottom: -20px;
					left: 50%;
					transform: translateX(-50%);
					min-width: 24px;
					width: 24px;
					min-height: 16px;
					height: 16px;
					border: 12px solid transparent;
					border-top: 8px solid var(--red3-color);
				}
			}
		}
		&__view {
			display: flex;
			justify-content: center;
			align-items: center;
			min-width: 100%;
			width: 100%;
			border: 1px solid var(--interface18-color);

			.image {
				max-height: 100%;
			}
		}
	}

	&-description {
		background-color: transparent;
		line-height: 1.7;

		.card__text-content {
			justify-content: center;
			gap: 16px;
		}
		.card__title {
			font-family: var(--font-family-unbounded);
			font-weight: 700;
		}
		.card__text {
			display: flex;
			flex-direction: column;
			-webkit-line-clamp: unset;
			-webkit-box-orient: unset;
		}
	}

	&-catalog-additional {
		border: 1px solid var(--interface18-color);
		background-color: transparent;

		.card__view {
			flex: 1;
			justify-content: center;

			.image {
				min-width: unset;
				width: auto;
				object-fit: contain;
			}
		}
	}
}
.card-list {
	display: flex;
	flex-wrap: wrap;

	&-action {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 8px;
	}
}
@media (min-width: 576px) {
	.card {
		&-subcategory-type {
			justify-content: flex-end;

			&__header {
				flex: 1;
			}
		}
	}
}
@media (min-width: 992px) {
	.card {
		&__text-content {
			gap: 12px;
		}
		&__title {
			font-size: 24px;
		}
		&__text {
			font-size: 17px;
		}
		&__tag {
			min-height: 24px;
			height: 24px;
			padding-right: 12px;
			padding-left: 12px;
		}

		&-default {
			gap: 20px;
			min-width: calc((100% - 64px) / 3);
			width: calc((100% - 64px) / 3);
			padding: 24px 24px 32px;
		}
		&-catalog {
			min-width: calc((100% - 32px) / 2);
			width: calc((100% - 32px) / 2);

			.card__view {
				.image {
					min-height: 320px;
					height: 320px;
				}
			}
			.card__descr {
				padding: 20px 0 52px;
			}
			.card__title {
				padding: 20px 40px;
			}
		}
		&-category {
			min-width: calc((100% - 64px) / 3);
			width: calc((100% - 64px) / 3);

			.card__view {
				.image {
					min-height: 320px;
					height: 320px;
				}
			}
			.card__descr {
				padding: 40px;
			}
		}
		&-subcategory {
			min-width: calc((100% - 64px) / 3);
			width: calc((100% - 64px) / 3);

			.card__view {
				.image {
					min-height: 436px;
					height: 436px;
				}
			}
			.card__descr {
				padding: 28px 28px 32px;
			}
		}
		&-subcategory-type {
			min-width: calc((100% - 32px) / 2);
			width: calc((100% - 32px) / 2);
			padding-right: 32px;
			padding-left: 32px;

			&:not(:nth-child(-n+2)) {
				padding-top: 60px;

				&::before {
					content: "";
					position: absolute;
					top: 0;
					right: 32px;
					left: 32px;
					min-height: 1px;
					height: 1px;
					background-color: var(--interface18-color);
				}
			}
			&__title {
				&:not(:last-child) {
					margin-bottom: 20px;
				}
			}
			&__subtitle {
				font-size: 16px;
			}
			&__label {
				font-size: 18px;

				&:not(:last-child) {
					margin-bottom: 40px;
				}
			}
			&__view {
				min-height: 510px;
				height: 510px;
				padding: 48px 8px 60px;
			}
		}
		&-description {
			flex-direction: row;
			gap: 48px;

			.card__descr {
				padding: 40px 0;
				min-width: 55%;
			}
			.card__title {
				font-size: 20px;
			}
			.card__text {
				font-size: 17px;
			}
			.card__view {
				min-width: unset;
				width: auto;
			}
		}
		&-catalog-additional {
			min-width: calc((100% - 64px) / 3);
			width: calc((100% - 64px) / 3);
			padding: 48px 12px;
		}
	}
	.card-list {
		gap: 32px;

		&--max {
			column-gap: 20px;

			.card {
				&-default,
				&-category,
				&-subcategory,
				&-catalog-additional {
					min-width: calc((100% - 60px) / 4);
					width: calc((100% - 60px) / 4);
				}

				&-catalog,
				&-subcategory-type {
					min-width: calc((100% - 40px) / 3);
					width: calc((100% - 40px) / 3);
				}
			}
		}
		&--description {
			row-gap: 60px;
		}
	}
}
@media (max-width: 991.98px) {
	.card {
		&__text-content {
			gap: 20px;
		}
		&__title {
			font-size: 20px;
		}
		&__text {
			font-size: 15px;
		}
		&__tag {
			min-height: 20px;
			height: 20px;
			padding-right: 8px;
			padding-left: 8px;
		}

		&-default {
			gap: 24px;
			padding: 12px 12px 32px;
		}
		&-catalog {
			.card__view {
				.image {
					min-height: 210px;
					height: 210px;
				}
			}
			.card__descr {
				padding: 20px 0;
			}
			.card__title {
				padding: 8px 20px;
				font-size: 14px;
				text-align: center;
			}
		}
		&-category {
			.card__view {
				.image {
					min-height: 260px;
					height: 260px;
				}
			}
			.card__descr {
				padding: 32px 20px;
			}
		}
		&-subcategory {
			.card__view {
				.image {
					min-height: 350px;
					height: 350px;
				}
			}
			.card__descr {
				padding: 24px;
			}
			.card__text-content {
				gap: 12px;
			}
		}
		&-subcategory-type {
			&__title {
				&:not(:last-child) {
					margin-bottom: 16px;
				}
			}
			&__label {
				font-size: 14px;

				&:not(:last-child) {
					margin-bottom: 20px;
				}
			}
			&__view {
				min-height: 320px;
				height: 320px;
				padding: 32px 8px;
			}
		}
		&-description {
			gap: 24px;

			.card__title {
				font-size: 15px;
			}
			.card__text {
				font-size: 13px;
			}
		}
		&-catalog-additional {
			padding: 24px 12px;
		}
	}
	.card-list {
		gap: 20px;

		&--description {
			row-gap: 24px;
		}
	}
}
@media (max-width: 575.98px) {
	.card {
		min-width: 100%;
		width: 100%;
	}
}
@media (min-width: 576px) and (max-width: 991.98px) {
	.card {
		min-width: calc((100% - 20px) / 2);
		width: calc((100% - 20px) / 2);

		&-description {
			min-width: 100%;
			width: 100%;
		}
	}
}

.modal {
	position: relative;
	display: none;
	padding: 0;
	overflow: hidden;
	background-color: var(--white-color);
	cursor: default!important;

	.fancybox-button {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: unset;
		opacity: 1;
	}
	& .fancybox-close-small {
		padding: unset;

		&:hover {
			& svg {
				color: var(--interface23-color);
			}
		}
	}
	.fancybox-button svg {
		color: var(--interface22-color);
		transition: var(--transition);
	}
}
@media (min-width: 992px) {
	.modal {
		min-width: 500px;
		width: 500px;
		padding: 40px 40px 48px;

		&--lg {
			min-width: 900px;
			width: 900px;
		}

		& .fancybox-close-small {
			top: 20px;
			right: 20px;
			min-width: 56px;
			width: 56px;
			min-height: 56px;
			height: 56px;
			background-color: var(--interface20-color);
			transition: var(--transition);

			&:hover {
				background-color: var(--interface19-color);
			}
		}
		.fancybox-button svg {
			min-width: 32px;
			width: 32px;
			min-height: 32px;
			height: 32px;
		}

		&__header {
			padding-right: 40px;

			&.text-center {
				padding-left: 40px;
			}
		}
	}
}
@media (max-width: 991.98px) {
	.modal {
		min-width: 280px;
		width: 280px;
		padding: 20px 10px 40px;

		h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
			font-size: 18px;
		}
		h5, .h5, h6, .h6 {
			font-size: 14px;
		}
		& .fancybox-close-small {
			top: 8px;
			right: 8px;
			min-width: 24px;
			width: 24px;
			min-height: 24px;
			height: 24px;
		}
		.fancybox-button svg {
			min-width: 24px;
			width: 24px;
			min-height: 24px;
			height: 24px;
		}

		&__header {
			padding-right: 20px;

			&.text-center {
				padding-left: 20px;
			}
		}
	}
}

.scrolling {
	display: flex;
	flex-direction: column;

	.image {
		height: auto;
	}
}
@media (min-width: 992px) {
	.scrolling {
		gap: 24px;
	}
}
@media (max-width: 991.98px) {
	.scrolling {
		gap: 16px;
		overflow: scroll;

		&::-webkit {
			&-scrollbar,
			&-scrollbar-track,
			&-scrollbar-thumb,
			&-scrollbar-button {
				display: none;
			}
		}
		&-content {
			min-width: 570px;
			width: 570px;
		}
		.image {
			max-height: 220px;
		}
	}
}