* {
	outline: none;
}
*, ::before, ::after {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
html,
body {
	line-height: 1.5;
}
body {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 375px;
	min-height: 100vh;
	margin: 0;
	font-family: var(--font-family-manrope);
	background-color: var(--white-color);
	color: var(--interface1-color);
}
@media (min-width: 992px) {
	html,
	body {
		font-size: 16px;
	}
}
@media (max-width: 991.98px) {
	html,
	body {
		font-size: 14px;
	}
}

.flex {
	display: flex;

	&-v-center {
		display: flex;
		align-items: center;
	}
	&-h-center {
		display: flex;
		justify-content: center;
	}
	&-h-end {
		display: flex;
		justify-content: flex-end;
	}
	&-all-center {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&-all-sb {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
.flex-1 {
	flex: 1;
}
.flex-0-1-100 {
	flex: 0 1 100%;
}

.w-100 {
	min-width: 100%!important;
	width: 100%!important;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	color: var(--interface1-color);
	font-family: var(--font-family-unbounded);
	font-weight: 600;
}
@media (min-width: 992px) {
	h1, .h1 {
		font-size: 50px;
		line-height: 1.3;
	}
	h2, .h2 {
		font-size: 40px;
		line-height: 1.3;
	}
	h3, .h3 {
		font-size: 24px;
		line-height: 1.3;
	}
	h4, .h4 {
		font-size: 20px;
		line-height: 1.5;
	}
	h5, .h5 {
		font-size: 18px;
		line-height: 1.5;
	}
	h6, .h6 {
		font-size: 16px;
		line-height: 1.5;
	}

	.dark-bg {
		&,
		&.dark-bg--desktop {
			h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6,
			div, span, p {
				color: var(--white-color);
			}
		}
	}
}
@media (max-width: 991.98px) {
	h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
		line-height: 1.3;
	}
	h1, .h1 {
		font-size: 24px;
	}
	h2, .h2 {
		font-size: 20px;
	}
	h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
		font-size: 16px;
	}

	.dark-bg {
		&,
		&.dark-bg--mobile{
			h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6,
			div, span, p {
				color: var(--white-color);
			}
		}
	}
}

a {
	text-decoration: none;
	cursor: pointer;
	transition: var(--transition);
}

picture,
img {
	max-width: 100%;
	object-fit: cover;
	overflow: hidden;
	user-select: none;
}
svg {
	max-width: 100%;
	max-height: 100%;
}
.icon {
	min-width: 16px;
	width: 16px;
	min-height: 16px;
	height: 16px;
	user-select: none;
	transition: var(--transition);

	&-xs {
		min-width: 16px!important;
		width: 16px!important;
		min-height: 16px!important;
		height: 16px!important;
	}
	&-sm {
		min-width: 20px!important;
		width: 20px!important;
		min-height: 20px!important;
		height: 20px!important;
	}
	&-md {
		min-width: 24px!important;
		width: 24px!important;
		min-height: 24px!important;
		height: 24px!important;
	}
	&-lg {
		min-width: 30px!important;
		width: 30px!important;
		min-height: 30px!important;
		height: 30px!important;
	}
	&-xl {
		min-width: 32px!important;
		width: 32px!important;
		min-height: 32px!important;
		height: 32px!important;
	}
	&-xxl {
		min-width: 64px!important;
		width: 64px!important;
		min-height: 64px!important;
		height: 64px!important;
	}

	&-fill {
		stroke: none!important;
	}
	&-stroke {
		fill: none!important;
	}
}

picture {
	display: flex;
}

.logo {
	display: flex;
	align-items: center;

	.image {
		object-fit: contain;
	}
	&-label {
		font-family: var(--font-family-unbounded);
		font-weight: 600;
		letter-spacing: 0.36px;
		text-transform: uppercase;
	}
	&-highlighted {
		position: relative;

		&::before {
			content: "";
			z-index: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: url("../img/circle-1-red.svg#circle-1-red") no-repeat center/contain;
		}
	}

	&-light {
		.logo-label {
			color: var(--white-color);
		}
	}
	&:not(.logo-light),
	&-dark {
		.logo-label {
			color: var(--interface1-color);
		}
	}
}
@media (min-width: 992px) {
	.logo {
		gap: 32px;

		.image {
			min-width: 71px;
			width: 71px;
			min-height: 56px;
			height: 56px;
		}
		&-label {
			font-size: 12px;
			line-height: 1.4;
		}
		&-highlighted {
			&::before {
				min-width: 32px;
				width: 32px;
				min-height: 20px;
				height: 20px;
			}
		}
	}
}
@media (max-width: 991.98px) {
	.logo {
		gap: 24px;

		.image {
			min-width: 51px;
			width: 51px;
			min-height: 40px;
			height: 40px;
		}
		&-label {
			font-size: 10px;
			line-height: 1.3;
		}
		&-highlighted {
			&::before {
				min-width: 28px;
				width: 28px;
				min-height: 16px;
				height: 16px;
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1379.98px) {
	.logo {
		gap: 24px;
	}
}

.dis-scroll {
	overflow: hidden;
	overscroll-behavior: none;
}

.overflow-hidden {
	overflow: hidden !important;
}

.is-hidden {
	display: none !important;
}

.visually-hidden {
	position: absolute !important;
	overflow: hidden !important;
	margin: -1px !important;
	border: 0 !important;
	padding: 0 !important;
	width: 1px !important;
	height: 1px !important;
	clip: rect(0 0 0 0) !important;
}

.pre-hidden {
	animation: pre-hidden 1s;
}
@keyframes pre-hidden {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.overlay,
.overlay-transparent {
	z-index: 2000;
	position: fixed;
	cursor: pointer;

	&::before {
		content: "";
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}
.overlay {
	&::before {
		background-color: rgba(0, 0, 0, 0.7);
	}
}
.overlay-transparent {
	&::before {
		background-color: transparent;
	}
}

.text-center {
	text-align: center;
}

.fw-normal {
	font-weight: 400;
}
.semi-bold {
	font-weight: 600;
}
.bold {
	font-weight: 700;
}

.text-secondary-color {
	color: var(--text-secondary)!important;
}
.red-color {
	color: var(--red-color)!important;
}
.green-color {
	color: var(--green-color)!important;
}

.height-auto {
	height: auto!important;
}

.no-line-break {
	white-space: nowrap!important;
}

.grayscale {
	filter: grayscale(1);
}
@media (min-width: 992px) {
	.grayscale {
		&,
		&-desktop {
			filter: grayscale(1);
		}
	}
}
@media (max-width: 991.98px) {
	.grayscale {
		&,
		&-mobile {
			filter: grayscale(1);
		}
	}
}

.btn-reset {
	padding: 0;
	border: none;
	background-color: transparent;
	color: inherit;
	cursor: pointer;
}
.btn-g {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 8px 12px;
}
@media (max-width: 991.98px) {
	.btn-g {
		&--mobile-full {
			.btn {
				min-width: 100%;
				width: 100%;
			}
		}
	}
}
.btn {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
	border: 1px solid transparent;
	border-radius: 12px;
	background-color: transparent;
	color: var(--interface1-color);
	font-family: var(--font-family-sfpro);
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	transition: var(--transition);

	&:hover,
	&:active,
	&.active {
		background-color: var(--surface-gray6-color);
	}
	&__text,
	&__icon {
		user-select: none;
	}
	&__text {
		white-space: nowrap;
	}
	&__icon {
		fill: var(--interface1-color);
	}

	&:not(.btn-mini) {
		min-height: 48px;
		height: 48px;
		padding: 0 24px;
		font-size: 14px;

		& .btn__icon {
			min-width: 20px;
			width: 20px;
			min-height: 20px;
			height: 20px;
		}
	}
	&-mini {
		min-height: 32px;
		height: 32px;
		padding: 0 12px;
		font-size: 12px;

		& .btn__icon {
			min-width: 24px;
			width: 24px;
			min-height: 24px;
			height: 24px;
		}
	}

	&-square {
		&:not(.btn-mini) {
			min-width: 48px;
			width: 48px;
			padding: 0;
		}
		&.btn-mini {
			min-width: 32px;
			width: 32px;
			padding: 0;
		}
	}

	&.disabled,
	&:disabled {
		border-color: var(--surface-gray4-color) !important;
		background-color: var(--surface-gray4-color) !important;
		color: var(--interface4-color) !important;
		cursor: not-allowed !important;

		.btn__icon {
			fill: var(--interface4-color) !important;
		}
	}

	&-primary {
		background-color: var(--red-color);
		color: var(--white-color);

		.btn__icon {
			fill: var(--white-color);
		}

		&:hover,
		&:active,
		&.active {
			box-shadow: 0 12px 28px -16px rgba(247, 209, 57, 0.20);
			background-color: var(--red2-color);
		}
	}
	&-secondary {
		background-color: var(--surface-gray1-color);
		color: var(--white-color);

		& .btn__icon {
			fill: var(--white-color);
		}
	}
	&-gray {
		background-color: var(--surface-gray5-color);
		color: var(--interface1-color);

		& .btn__icon {
			fill: var(--interface1-color);
		}
	}
	&-light {
		background-color: var(--surface-gray6-color);
		color: var(--text-secondary-color);

		& .btn__icon {
			fill: var(--interface1-color);
		}

		&:hover,
		&:active,
		&.active {
			box-shadow: 0 12px 28px -16px rgba(43, 45, 50, 0.20);
			background-color: var(--surface-gray5-color);
			color: var(--interface1-color);

			& .btn__icon {
				fill: var(--interface1-color);
			}
		}
	}
	&-b-light {
		border-color: var(--surface-gray4-color);
	}
	&-b-dark {
		border-color: var(--surface-gray1-color);
	}
	&-secondary,
	&-gray,
	&-b-light,
	&-b-dark {
		&:hover,
		&:active,
		&.active {
			box-shadow: 0 12px 28px -16px rgba(43, 45, 50, 0.20);
			background-color: var(--surface-gray2-color);
			color: var(--white-color);

			& .btn__icon {
				fill: var(--white-color);
			}
		}
	}
	&-b-light,
	&-b-dark {
		color: var(--interface1-color);

		& .btn__icon {
			fill: var(--interface1-color);
		}

		&:hover,
		&:active,
		&.active {
			border-color: var(--surface-gray2-color);
		}
	}

	&-link {
		border: none;
		color: var(--interface1-color);

		&,
		&.btn {
			min-height: 0;
			height: auto;
			padding: 0;
			line-height: 1;
		}
		&:hover,
		&:active,
		&.active {
			background-color: var(--surface-gray6-color);
			color: var(--text-secondary-color);

			& .btn__icon {
				fill: var(--interface1-color);
			}
		}
	}
}
@media (min-width: 992px) {
	.dark-bg {
		&,
		&.dark-bg--desktop {
			.btn {
				&-b-light,
				&-b-dark {
					color: var(--white-color);

					& .btn__icon {
						fill: var(--white-color);
					}

					&:hover,
					&:active,
					&.active {
						border-color: rgba(165, 165, 164, 0.50);
						background-color: rgba(165, 165, 164, 0.16);
					}
				}
			}

			.swiper-navigation {
				.swiper-button-prev,
				.swiper-button-next {
					border-color: var(--surface-gray4-color);
					color: var(--white-color);

					.icon {
						fill: var(--white-color);
					}

					&:hover {
						border-color: rgba(165, 165, 164, 0.50);
						background-color: rgba(165, 165, 164, 0.16);
					}
				}
			}
		}
	}
}
@media (max-width: 991.98px) {
	.dark-bg {
		&,
		&.dark-bg--mobile {
			.btn {
				&-b-light,
				&-b-dark {
					color: var(--white-color);

					& .btn__icon {
						fill: var(--white-color);
					}

					&:hover,
					&:active,
					&.active {
						border-color: rgba(165, 165, 164, 0.50);
						background-color: rgba(165, 165, 164, 0.16);
					}
				}
			}

			.swiper-navigation {
				.swiper-button-prev,
				.swiper-button-next {
					border-color: var(--surface-gray4-color);
					color: var(--white-color);

					.icon {
						fill: var(--white-color);
					}

					&:hover {
						border-color: rgba(165, 165, 164, 0.50);
						background-color: rgba(165, 165, 164, 0.16);
					}
				}
			}
		}
	}
}

.link {
	color: inherit;

	&-tdu {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

.soc-ya,
.soc-vk {
	background-color: var(--white-color);
}
.soc-ya {
	fill: #E85032;

	&:hover {
		fill: var(--red-color);
	}
}
.soc-vk {
	fill: #0277FF;

	&:hover {
		opacity: 0.8;
	}
}
.soc-ok {
	fill: #EB722E;

	&:hover {
		opacity: 0.8;
	}
}
.soc-tg {
	fill: #64A9DC;

	&:hover {
		opacity: 0.8;
	}
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

p {
	margin-top: 0;

	&:not(:last-child) {
		margin-bottom: 16px;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

.hr {
	position: relative;
	min-width: 100%;
	width: 100%;
	min-height: 1px;
	height: 1px;

	&::before {
		content: "";
		z-index: 1;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: 2px;
		background-color: var(--interface3-color);
	}
}

.input-reset {
	padding: 0;
	overflow: hidden;
	border: none;
	border-radius: 0;
	background-color: #fff;
	-webkit-appearance: none;
	appearance: none;

	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		display: none;
	}
}
input:disabled,
input.disabled {
	cursor: not-allowed;
}

@media (min-width: 992px) {
	.gap {
		&-xs {
			margin-bottom: 12px !important;
		}
		&-sm {
			margin-bottom: 16px !important;
		}
		&-sm-plus {
			margin-bottom: 20px !important;
		}
		&-md {
			margin-bottom: 24px !important;
		}
		&-lg {
			margin-bottom: 32px !important;
		}
		&-lg-plus {
			margin-bottom: 40px !important;
		}
		&-xl {
			margin-bottom: 48px !important;
		}
		&-xl-plus {
			margin-bottom: 60px !important;
		}
		&-xxl {
			margin-bottom: 72px !important;
		}
	}

	.mobile-only {
		display: none !important;
	}
}
@media (max-width: 991.98px) {
	.gap {
		&-xs,
		&-sm,
		&-sm-plus {
			margin-bottom: 12px !important;
		}
		&-md {
			margin-bottom: 16px !important;
		}
		&-lg,
		&-lg-plus {
			margin-bottom: 20px !important;
		}
		&-xl,
		&-xl-plus,
		&-xxl {
			margin-bottom: 24px !important;
		}
	}

	.desktop-only {
		display: none !important;
	}

	.out-container-x {
		min-width: 100vw;
		max-width: 100vw;
	}
	.out-container-x {
		margin-right: calc(var(--container-offset) * -1);
		margin-left: calc(var(--container-offset) * -1);
	}
}

.block {
	overflow: hidden;

	&-border-y,
	&-border-top {
		border-top: 1px solid var(--interface10-color);
	}
	&-border-y,
	&-border-bottom {
		border-bottom: 1px solid var(--interface10-color);
	}

	&-gray {
		background-color: var(--interface11-color);
	}
}
@media (min-width: 992px) {
	.block {
		padding-top: 72px;
		padding-bottom: 72px;

		&-top {
			padding-top: 72px;
			padding-bottom: unset;
		}
		&-bottom {
			padding-top: unset;
			padding-bottom: 72px;
		}
	}
}
@media (max-width: 991.98px) {
	.block {
		padding-top: 24px;
		padding-bottom: 24px;

		&-top {
			padding-top: 24px;
			padding-bottom: unset;
		}
		&-bottom {
			padding-top: unset;
			padding-bottom: 24px;
		}
	}
}

.has-bg {
	position: relative;

	&::before {
		content: "";
		z-index: -1;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: url("../img/traced.svg#traced") no-repeat center top/3175px 795px;
	}
}

.bg-lightgray {
	background-color: var(--interface11-color);
}

.nav-breadcrumbs {
	& .swiper-slide {
		width: auto;
		line-height: 1;

		& a {
			position: relative;
			color: var(--interface5-color);
			font-size: 12px;
			line-height: 1.2;

			&:hover {
				color: var(--interface6-color);
			}
		}
		&:not(:first-child) a {
			padding-left: 21px;

			&::before {
				content: "/";
				position: absolute;
				top: 50%;
				left: 8px;
				transform: translateY(-50%);
			}
		}
	}
}
@media (max-width: 991.98px) {
	.nav-breadcrumbs {
		margin-right: -16px;
		margin-left: -16px;

		& .swiper-slide {
			width: auto;

			&:first-child {
				padding-left: 16px;
			}
			&:last-child {
				padding-left: 16px;
			}
		}
	}
}

.custom-checkbox,
.custom-radio {
	display: inline-flex;
	align-items: center;
	gap: 8px;
	line-height: 1;
	cursor: default;

	&__input {
		position: relative;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		min-width: 20px;
		width: 20px;
		min-height: 20px;
		height: 20px;
		margin: 0;
		border: 1px solid var(--surface-gray4-color);
		background-color: transparent;
		appearance: none;
		transition: var(--transition);

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			opacity: 0;
			transition: var(--transition);
		}
		&:not(:checked) {
			&:hover {
				border-color: var(--surface-gray1-color);
			}
		}
		&:checked,
		&.checked {
			&,
			&:hover {
				border-color: var(--red-color);
			}
			&::before {
				opacity: 1;
			}
		}
		&:not(:disabled),
		&:not(.disabled) {
			cursor: pointer;

			& ~ .custom-checkbox__label-for,
			& ~ .custom-radio__label-for {
				color: var(--interface5-color);
			}
			& ~ .custom-checkbox__brand .icon,
			& ~ .custom-radio__brand .icon {
				fill: var(--interface1-color);
			}
		}
		&:disabled,
		&.disabled {
			cursor: default;

			&,
			&:hover {
				border-color: var(--surface-gray5-color);
				background-color: var(--surface-gray5-color);
			}
			& ~ .custom-checkbox__label-for,
			& ~ .custom-radio__label-for {
				color: var(--interface8-color);
				user-select: none;
			}
			& ~ .custom-checkbox__brand,
			& ~ .custom-radio__brand {
				& .icon,
				& .image {
					max-height: 30px;
				}
				& .icon {
					fill: var(--interface8-color);
				}
				& .image {
					filter: grayscale(1);
				}
			}
		}
	}
	&:not(:last-child) {
		margin: 0 12px 0 0;
	}
	&__label-for {
		font-size: 14px;
		line-height: 1.5;

		.link {
			color: inherit;
		}
	}
	&__brand {
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 64px;
		width: 64px;
		min-height: 30px;
		height: 30px;

		& .icon,
		& .image {
			width: auto;
			height: 100%;
		}
	}
}
.custom-checkbox {
	&__input {
		border-radius: 6px;

		&:checked {
			&,
			&:hover {
				background-color: var(--red-color);
			}
		}
	}
	&__input::before {
		min-width: 10px;
		width: 10px;
		min-height: 10px;
		height: 10px;
		background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMiAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMS4yMDcxIDEuMDg1ODZDMTEuNTk3NiAxLjQ3NjM5IDExLjU5NzYgMi4xMDk1NSAxMS4yMDcxIDIuNTAwMDhMNC41IDkuMjA3MThMMC43OTI4OTMgNS41MDAwOEMwLjQwMjM2OSA1LjEwOTU1IDAuNDAyMzY5IDQuNDc2MzkgMC43OTI4OTMgNC4wODU4NkMxLjE4MzQyIDMuNjk1MzQgMS44MTY1OCAzLjY5NTM0IDIuMjA3MTEgNC4wODU4Nkw0LjUgNi4zNzg3Nkw5Ljc5Mjg5IDEuMDg1ODZDMTAuMTgzNCAwLjY5NTMzOCAxMC44MTY2IDAuNjk1MzM4IDExLjIwNzEgMS4wODU4NloiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=");
	}
	&__input--checkline::before {
		min-height: 2px;
		height: 2px;
		background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMiIgdmlld0JveD0iMCAwIDEyIDIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xIDFIMTEiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+Cjwvc3ZnPgo=");
	}
	&__input:checked:disabled::before,
	&__input:checked.disabled::before {
		background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMiAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMS4yMDcxIDEuMDg1ODZDMTEuNTk3NiAxLjQ3NjM5IDExLjU5NzYgMi4xMDk1NSAxMS4yMDcxIDIuNTAwMDhMNC41IDkuMjA3MThMMC43OTI4OTMgNS41MDAwOEMwLjQwMjM2OSA1LjEwOTU1IDAuNDAyMzY5IDQuNDc2MzkgMC43OTI4OTMgNC4wODU4NkMxLjE4MzQyIDMuNjk1MzQgMS44MTY1OCAzLjY5NTM0IDIuMjA3MTEgNC4wODU4Nkw0LjUgNi4zNzg3Nkw5Ljc5Mjg5IDEuMDg1ODZDMTAuMTgzNCAwLjY5NTMzOCAxMC44MTY2IDAuNjk1MzM4IDExLjIwNzEgMS4wODU4NloiIGZpbGw9IiNFOEVBRUIiLz4KPC9zdmc+Cg==");
	}
	&__input--checkline:checked:disabled::before,
	&__input--checkline:checked.disabled::before {
		background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMiIgdmlld0JveD0iMCAwIDEyIDIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xIDFIMTEiIHN0cm9rZT0iI0U4RUFFQiIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==");
	}
}
.custom-radio {
	&__input {
		border-radius: 50%;
	}
	&__input::before {
		min-width: 8px;
		width: 8px;
		min-height: 8px;
		height: 8px;
		border-radius: 50%;
		background-image: none;
		background: var(--red-color);
	}
	&__input:checked:disabled::before,
	&__input:checked.disabled::before {
		background: none;
	}
}

.titled-input {
	display: flex;
	flex-direction: column;

	&:not(.titled-input-label) {
		gap: 16px;
	}
	&-label {
		gap: 6px;
	}
}
.input {
	min-width: 100%;
	padding: 13px 15px;
	border: 1px solid var(--surface-gray4-color);
	border-radius: 12px;
	background: transparent;
	color: var(--interface1-color);
	font-size: 16px;
	line-height: 24px;

	&::placeholder {
		color: var(--interface6-color);
	}
	&-title {
		font-size: 14px;
	}

	&:focus {
		border-color: var(--surface-gray3-color);
	}

	// tmp
	&-promocode {
		.input {
			padding-right: 40px;
		}
		&-icon {
			display: none;
			position: absolute;
			top: 0;
			right: 0;
			min-width: 40px;
			width: 40px;

			&.btn {
				min-height: 40px;
				height: 40px;
			}
		}
		&-note {
			display: none;
		}
		&--has-data {
			.input-promocode-icon {
				display: flex;
			}
			.input-promocode-note {
				display: flex;
				padding-top: 4px;
				font-size: 12px;
			}
		}
		&--success {
			.icon {
				fill: var(--green-color);
			}
			.input-promocode-note {
				color: var(--text-secondary);
			}
		}
		&--error {
			.icon {
				fill: var(--red-color);
			}
			.input-promocode-note {
				color: var(--red-color);
				font-weight: 600;
			}
		}
	}
}
.input-wrapper {
	position: relative;
	min-width: 100%;
}
.input-wrapper {
	&.has-icon-l,
	&.has-icon-r {
		&::before,
		&::after {
			z-index: 1;
			position: absolute;
			top: 50%;
			min-width: 16px;
			width: 16px;
			min-height: 16px;
			height: 16px;
			margin-top: -8px;
			background: url("../img/sprite.svg#search") no-repeat center/cover transparent;
			transition: var(--transition);
		}
		&::before {
			left: 15px;
		}
		&::after {
			right: 15px;
		}
	}
	&.has-icon-l {
		&::before {
			content: "";
		}
		.input {
			padding-left: 43px;
		}
	}
	&.has-icon-r {
		&::after {
			content: "";
		}
		.input {
			padding-right: 43px;
		}
	}

	// tmp
	&-radio {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}
}
.input-search-wrapper {
	.input-search-field {
		position: relative;
	}
	.input-search {
		padding-top: 11px;
		padding-bottom: 11px;
		padding-left: 11px;
		font-size: 14px;

		&:not(.has-data) {
			& ~ .input-delete-btn {
				opacity: 0;
			}
		}
	}
	.input-delete-btn {
		position: absolute;
		top: 50%;
		right: 48px;
		transform: translateY(-50%);
		min-width: 36px;
		width: 36px;
		min-height: 36px;
		height: 36px;

		&.btn {
			background-color: transparent;
		}
	}
	&:not(.input-search-wrapper-btn-outside) {
		.input-search-btn {
			position: absolute;
			top: 50%;
			right: 6px;
			transform: translateY(-50%);
			min-width: 0;
			width: auto;
			min-height: 36px;
			height: 36px;
			border-radius: 8px;

			&--square {
				min-width: 36px;
				width: 36px;
				padding: 0;
			}
		}
	}
// tmp
	&-btn-outside {
		display: flex;
		align-items: stretch;
		gap: 12px;
		width: 100%;

		.input-search-field {
			flex: 1;
		}
		.input-search {
			padding-right: 12px;
		}
		.input-search-btn {
			min-width: 0;
			width: auto;
			height: auto;
		}
	}
}
// tmp
.submit-field-wrapper {
	position: relative;
	display: flex;
	gap: 12px;
	min-width: 100%;

	.submit-field-input {
		position: relative;
	}
}

.textarea {
	min-width: 100%;
	min-height: 82px;
	padding: 12px 16px;
	border: 1px solid var(--interface9-color);
	border-radius: 12px;
	resize: none;
	background: var(--white-color);
	color: var(--interface1-color);

	&::placeholder {
		color: var(--interface6-color);
	}
	&:focus {
		border-color: var(--surface-gray3-color);
	}
}
@media (min-width: 992px) {
	.input-search-wrapper {
		&:not(.input-search-wrapper-btn-outside) {
			.input-search {
				padding-right: 80px;
			}
		}
	}

	.submit-field-wrapper {
		align-items: center;
	}
}
@media (max-width: 991.98px) {
	.submit-field-wrapper {
		flex-direction: column;
	}
}

.tooltip {
	display: inline-flex;
	align-self: flex-end;
	vertical-align: bottom;
	cursor: pointer;
}
.tippy {
	&-box {
		border-radius: 4px;
		box-shadow: 0 4px 6px rgba(213, 213, 214, 0.5);
		background: var(--surface-gray2-color);
		font-size: 12px;
	}
	&-content {
		padding: 10px 12px;
	}
}

.pagination-wrapper {
	display: flex;
	align-items: center;
}
.pagination {
	display: flex;
	align-items: center;

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 40px;
		width: 40px;
		min-height: 40px;
		height: 40px;
		border: 1px solid var(--interface10-color);
		border-radius: 8px;
		background-color: var(--white-color);
		color: var(--interface1-color);
		font-weight: 500;
		font-size: 14px;
		cursor: pointer;

		.icon {
			fill: var(--interface1-color);
		}

		&:hover,
		&.active {
			background-color: var(--interface1-color);
			color: var(--white-color);

			.icon {
				fill: var(--white-color);
			}
		}
	}
	&__dots {
		cursor: default;

		&:hover,
		&.active {
			background-color: transparent;
			color: var(--interface1-color);
		}
	}
}
@media (min-width: 992px) {
	.pagination-wrapper {
		gap: 32px;
	}
	.pagination {
		gap: 12px;
	}
}
@media (max-width: 991.98px) {
	.pagination-wrapper {
		gap: 16px;
	}
	.pagination {
		gap: 10px;

		&__item:nth-child(n+6):nth-child(-n+7) {
			display: none;
		}
		&-more {
			&,
			.btn {
				min-width: 100%;
			}
		}
		&-all {
			&,
			.btn-link {
				min-width: 100%;
				width: 100%;
			}
			.btn-link {
				justify-content: space-between;
				padding-top: 20px;
				padding-bottom: 6px;
				border-top: 1px solid var(--surface-gray5-color);
				font-weight: 400;
				font-size: 13px;
				letter-spacing: 0;
				text-transform: unset;
			}
		}
	}
}

.swiper-pagination {
	z-index: 2;
	position: absolute;
	right: 0;
	bottom: 3px;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;

	.swiper-pagination-bullet {
		width: 9px;
		height: 5px;
		margin: 0 4px;
		background: var(--surface-gray4-color);
		border-radius: 2px;
		transition: 0.2s linear;
	}
	.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
	.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
		margin: 0 4px;
	}
	.swiper-pagination-bullet-active {
		width: 24px;
		background: var(--surface-gray2-color);
	}
}

.swiper-navigation {
	position: absolute;
	top: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	margin-top: calc((40px / 2) * -1);

	&-button {
		display: flex;
	}
	.swiper-button-prev,
	.swiper-button-next {
		position: absolute;
		top: 0;
		width: 40px;
		height: 40px;
		margin-top: unset;
		border: 1px solid var(--interface6-color);
		border-radius: 12px;
		background: transparent;
		color: var(--interface1-color);
		transition: var(--transition);

		&::after {
			content: none;
		}
		.icon {
			fill: var(--interface1-color);
		}

		&:hover {
			border-color: var(--red-color);
			background: var(--red-color);

			.icon {
				fill: var(--white-color);
			}
		}
	}
	.swiper-button-prev,
	.swiper-rtl .swiper-button-next {
		left: 0;
		right: auto;
	}
	.swiper-button-next,
	.swiper-rtl .swiper-button-prev {
		right: 0;
		left: auto;
	}
}
.basic-slider-wrap {
	position: relative;
}
.basic-slider,
.basic-gallery-slider {
	overflow: hidden;

	.swiper-slide {
		width: auto;
	}
}
.basic-slider {
	.card-list {
		&.card-list--desktop {
			.swiper-slide {
				display: flex;
				height: auto;
			}
		}
	}
}
.basic-gallery-slider {
	.swiper-slide {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		border: 1px solid var(--interface10-color);
		border-radius: 12px;
		cursor: pointer;
		transition: var(--transition);

		.image {
			width: 100%;
			object-fit: contain;
		}

		&:hover {
			filter: grayscale(0);
		}
	}
}
@media (min-width: 992px) {
	.swiper-navigation {
		right: -44px;
		left: -44px;
	}
	.basic-slider {
		.card-list {
			&.card-list--desktop {
				&.swiper-wrapper {
					height: auto!important;
					width: 100%;
					transform: unset!important;
				}
				.swiper-slide {
					margin-right: unset!important;
				}
			}
		}
	}
	.basic-gallery-slider {
		.swiper-slide {
			min-width: 230px;
			width: 230px;
			min-height: 120px;
			height: 120px;
		}
	}
}
@media (max-width: 991.98px) {
	.basic-slider-wrap {
		.swiper-navigation {
			display: none;
		}
	}
	.basic-slider {
		.card-list {
			&.card-list--desktop {
				.card {
					min-width: 260px;
					width: 260px;
					min-height: 100%;
					height: 100%;

					&__view {
						&,
						.image,
						.icon {
							min-height: 226px;
							height: 226px;
						}
					}

					&.card-info {
						.card__view {
							&,
							.image,
							.icon {
								min-width: 260px;
								width: 260px;
								min-height: 270px;
								height: 270px;
							}
						}
					}
				}
			}
		}
	}
	.basic-gallery-slider {
		.swiper-slide {
			min-width: 150px;
			width: 150px;
			min-height: 80px;
			height: 80px;
		}
	}

	.catalog-extra-slider {
		&.out-container-x {
			& .basic-slider,
			& .basic-gallery-slider {
				& .swiper-slide {
					&:first-child {
						margin-left: 16px!important;
					}
					&:last-child {
						margin-right: 16px!important;
					}
				}
			}
		}
	}
}

.partners-slider {
	&__item {
		padding: 20px 32px;
	}
}

.content-wrapper {
	&-section-row,
	&-desktop-section-row,
	&-mobile-section-row {
		position: relative;
		width: 100%;
	}
}
@media (min-width: 992px) {
	.content-wrapper {
		&-mobile-section {
			&,
			&-container {
				width: 100%;
			}
		}
	}
}
@media (max-width: 991.98px) {
	.content-wrapper {
		&-mobile-section {
			margin: 0 -16px;

			&,
			&-container {
				width: 100vw;
			}
			&-container {
				padding: 0 16px;
			}
		}
		&-desktop-section-row {
			content: none;
		}
	}
}

.form {
	min-width: 100%;

	.field-wrapper {
		position: relative;
		display: inline-block;
		width: 100%;
		height: 100%;
	}
}

.contact-form {
	position: relative;
	overflow: hidden;
	border: 1px solid var(--interface10-color);
	border-radius: 16px;
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.04);
	background: var(--white-color);

	&-design {
		position: absolute;
		bottom: -10px;
		right: -10px;

		.icon {
			min-width: 145px;
			width: 145px;
			min-height: 115px;
			height: 115px;
		}
	}
}
@media (min-width: 992px) {
	.contact-form {
		padding: 32px;
	}
}
@media (max-width: 991.98px) {
	.contact-form {
		padding: 16px;
	}
}

.contact-us {
	display: flex;

	&__item {
		flex: 1;
	}
}
@media (min-width: 992px) {
	.contact-us {
		gap: 20px;
	}
}
@media (max-width: 991.98px) {
	.contact-us {
		flex-direction: column;
		gap: 24px;
	}
}

.contact-address {
	&-info {
		display: flex;
		flex-direction: column;
		gap: 12px;
		color: var(--interface4-color);
	}
	&-phone {
		color: var(--interface1-color);
		font-weight: 700;
	}
}
@media (min-width: 992px) {
	.contact-address {
		&-phone {
			font-size: 20px;
		}
	}
}
@media (max-width: 991.98px) {
	.contact-address {
		&-phone {
			font-size: 18px;
		}
	}
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	border: 1px solid var(--interface10-color);
	box-shadow: var(--card-shadow);
	background-color: var(--white-color);
	transition: var(--transition);

	&:not(a) {
		cursor: default;
	}
	&,
	&__view {
		overflow: hidden;
	}
	&__view {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		border-radius: 12px;
		transition: var(--transition);

		picture,
		.image,
		.icon {
			min-width: 100%;
			width: 100%;
			transition: var(--transition);
		}
	}
	&__descr,
	&__more {
		transition: var(--transition);
	}
	&__descr {
		display: flex;
		flex: 1;
		flex-direction: column;
		gap: 12px;
	}
	.card__title {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
	.card__subtitle {
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		color: var(--interface5-color);
	}
	&__more {
		color: var(--interface5-color);
		transition: 0s;
	}

	&.card-advantage {
		.card__subtitle {
			color: var(--interface2-color);
		}
	}

	&.card-info {
		gap: unset;
		padding: 0;

		.card__view {
			position: relative;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: rgba(31, 29, 28, 0.3);
				transition: var(--transition);
			}
		}
		.card__descr,
		.card__more {
			z-index: 1;
			position: absolute;
			justify-content: flex-end;
			gap: 8px;
		}
		.card__title,
		.card__subtitle {
			color: var(--white-color);
		}
		.card__subtitle {
			font-weight: 500;
			font-size: 14px;
		}
		.card__more {
			display: flex;
			flex-direction: column;

			.more-link {
				color: var(--white-color);

				& .decor span {
					left: 4px;
					min-width: 40px;
					width: 40px;

					&,
					&::before,
					&::after {
						background-color: var(--white-color);
						transition: var(--transition);
					}
				}
			}
		}

		&:not(:hover) {
			&:not(.card-info--more) {
				.card__more {
					z-index: -1;
					opacity: 0;
					pointer-events: none;
					user-select: none;
				}
			}
		}
		&:hover {
			.card__view {
				position: relative;

				&::before {
					background-color: var(--red-color);
				}
				picture,
				.image,
				.icon {
					min-width: 100%;
					width: 100%;
				}
			}
			.card__descr {
				justify-content: flex-start;
			}
			.card__subtitle {
				display: none;
			}
		}

		&--more {
			border-color: var(--interface1-color);

			.card__view {
				background: var(--white-color);

				&::before {
					content: none;
				}
				picture,
				.image,
				.icon {
					display: none;
				}
			}
			.card__descr {
				display: none;
			}
			.card__more {
				justify-content: center;
				align-items: center;

				.more-link {
					color: var(--interface1-color);

					.decor {
						span {
							&,
							&::before,
							&::after {
								background-color: var(--interface1-color);
							}
						}
					}
				}
			}

			&:hover {
				border-color: var(--red-color);

				.card__view {
					background: var(--red-color);
				}
				.card__more {
					.more-link {
						color: var(--white-color);

						.decor {
							span {
								&,
								&::before,
								&::after {
									background-color: var(--white-color);
								}
							}
						}
					}
				}
			}
		}
	}
}
.card-list {
	display: flex;
	flex-wrap: wrap;
}
@media (min-width: 992px) {
	.card {
		border-radius: 16px;

		&.card-advantage {
			.card__view {
				.image,
				.icon {
					min-width: 60px;
					width: 60px;
				}
			}
		}
		&.card-info {
			.card__descr,
			.card__more {
				top: 20px;
				right: 24px;
				bottom: 20px;
				left: 24px;
			}
		}
	}
	.card-list {
		.card {
			&.card-advantage {
				.card__view {
					&,
					.image,
					.icon {
						min-height: 60px;
						height: 60px;
					}
				}
			}
		}

		&.card-list--big {
			gap: 20px;
		}
		&.card-list--medium {
			gap: 20px;
		}
		&.card-list--small {
			gap: 32px;
		}

		&.card-list--column {
			flex-direction: column;
			flex-wrap: nowrap;
			gap: 20px;
		}
	}
}
@media (min-width: 1380px) {
	.card {
		gap: 32px;
		padding: 32px;

		.card__title {
			-webkit-line-clamp: 8;
		}
	}
	.card-list {
		&.card-list--big {
			.card {
				min-width: calc((1280px - 20px) / 2);
				width: calc((1280px - 20px) / 2);

				&__view {
					&,
					.image,
					.icon {
						min-height: calc((((1280px - 20px) / 2) - 66px) * 0.5625);
						height: calc((((1280px - 20px) / 2) - 66px) * 0.5625);
					}
				}
			}
		}
		&.card-list--medium {
			.card {
				min-width: calc((1280px - 40px) / 3);
				width: calc((1280px - 40px) / 3);

				&__view {
					&,
					.image,
					.icon {
						min-height: calc((((1280px - 40px) / 3) - 66px) * 0.5625);
						height: calc((((1280px - 40px) / 3) - 66px) * 0.5625);
					}
				}

				&.card-info {
					.card__view {
						&,
						.image,
						.icon {
							min-height: calc(((1280px - 40px) / 3) * 0.94);
							height: calc(((1280px - 40px) / 3) * 0.94);
						}
					}
				}
			}
		}
		&.card-list--small {
			.card {
				min-width: calc((1280px - 64px) / 3);
				width: calc((1280px - 64px) / 3);

				&__view {
					&,
					.image,
					.icon {
						min-height: calc((((1280px - 64px) / 3) - 66px) * 0.94);
						height: calc((((1280px - 64px) / 3) - 66px) * 0.94);
					}
				}
			}
		}
	}
}
@media (max-width: 991.98px) {
	.card {
		gap: 20px;
		padding: 16px;
		border-radius: 12px;

		&__title {
			-webkit-line-clamp: 7;
		}

		&.card-advantage {
			.card__view {
				.image,
				.icon {
					min-width: 48px;
					width: 48px;
				}
			}
		}
		&.card-info {
			.card__descr,
			.card__more {
				top: 16px;
				right: 16px;
				bottom: 16px;
				left: 16px;
			}
		}
	}
	.card-list {
		.card {
			&.card-advantage {
				.card__view {
					&,
					.image,
					.icon {
						min-height: 48px;
						height: 48px;
					}
				}
			}
		}

		&.card-list--big,
		&.card-list--medium,
		&.card-list--small {
			gap: 16px;
		}

		&.card-list--desktop,
		&.swiper-wrapper {
			flex-wrap: unset;
			gap: unset;
		}

		&.card-list--column {
			flex-direction: column;
			flex-wrap: nowrap;
			gap: 20px;
		}
	}
}
@media (max-width: 767.98px) {
	.card {
		&.card-advantage {
			gap: 32px;
		}
	}
	.card-list {
		.card {
			min-width: 100%;
			width: 100%;

			&__view {
				&,
				.image,
				.icon {
					min-height: calc(((100vw - 32px) - 34px) * 0.5625);
					height: calc(((100vw - 32px) - 34px) * 0.5625);
				}
			}

			&.card-info {
				.card__view {
					&,
					.image,
					.icon {
						min-height: calc((100vw - 32px) * 0.8);
						height: calc((100vw - 32px ) * 0.8);
					}
				}
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.card-list {
		.card {
			min-width: calc((100vw - 32px - 16px) / 2);
			width: calc((100vw - 32px - 16px) / 2);

			&__view {
				&,
				.image,
				.icon {
					min-height: calc((((100vw - 32px - 16px) / 2) - 34px) * 0.5625);
					height: calc((((100vw - 32px - 16px) / 2) - 34px) * 0.5625);
				}
			}

			&.card-info {
				.card__view {
					&,
					.image,
					.icon {
						min-height: calc(((100vw - 32px - 16px) / 2) * 0.8);
						height: calc(((100vw - 32px - 16px) / 2) * 0.8);
					}
				}
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.card {
		.card__title {
			-webkit-line-clamp: 8;
		}
	}
	.card-list {
		&.card-list--medium {
			.card {
				min-width: calc((100vw - 100px - 20px) / 2);
				width: calc((100vw - 100px - 20px) / 2);

				&__view {
					&,
					.image,
					.icon {
						min-height: calc((((100vw - 100px - 20px) / 2) - 50px) * 0.5625);
						height: calc((((100vw - 100px - 20px) / 2) - 50px) * 0.5625);
					}
				}

				&.card-info {
					.card__view {
						&,
						.image,
						.icon {
							min-height: calc(((100vw - 100px - 20px) / 2) * 0.94);
							height: calc(((100vw - 100px - 20px) / 2) * 0.94);
						}
					}
				}
			}
		}
		&.card-list--small {
			.card {
				min-width: calc((100vw - 100px - 32px) / 2);
				width: calc((100vw - 100px - 32px) / 2);

				&__view {
					&,
					.image,
					.icon {
						min-height: calc((((100vw - 100px - 32px) / 2) - 50px) * 0.94);
						height: calc((((100vw - 100px - 32px) / 2) - 50px) * 0.94);
					}
				}
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1379.98px) {
	.card {
		gap: 24px;
		padding: 24px;
	}
	.card-list {
		&.card-list--big {
			.card {
				min-width: calc((100vw - 100px - 20px) / 2);
				width: calc((100vw - 100px - 20px) / 2);

				&__view {
					&,
					.image,
					.icon {
						min-height: calc((((100vw - 100px - 20px) / 2) - 50px) * 0.5625);
						height: calc((((100vw - 100px - 20px) / 2) - 50px) * 0.5625);
					}
				}
			}
		}
	}
}
@media (min-width: 1200px) and (max-width: 1379.98px) {
	.card {
		.card__title {
			-webkit-line-clamp: 7;
		}
	}
	.card-list {
		&.card-list--medium {
			.card {
				min-width: calc((100vw - 100px - 40px) / 3);
				width: calc((100vw - 100px - 40px) / 3);

				&__view {
					&,
					.image,
					.icon {
						min-height: calc((((100vw - 100px - 40px) / 3) - 50px) * 0.5625);
						height: calc((((100vw - 100px - 40px) / 3) - 50px) * 0.5625);
					}
				}

				&.card-info {
					.card__view {
						&,
						.image,
						.icon {
							min-height: calc(((100vw - 100px - 40px) / 3) * 0.94);
							height: calc(((100vw - 100px - 40px) / 3) * 0.94);
						}
					}
				}
			}
		}
		&.card-list--small {
			.card {
				min-width: calc((100vw - 100px - 64px) / 3);
				width: calc((100vw - 100px - 64px) / 3);

				&__view {
					&,
					.image,
					.icon {
						min-height: calc((((100vw - 100px - 64px) / 3) - 50px) * 0.94);
						height: calc((((100vw - 100px - 64px) / 3) - 50px) * 0.94);
					}
				}
			}
		}
	}
}

.more-link {
	position: relative;
	display: inline-flex;
	align-items: center;
	gap: 16px;
	color: var(--red-color);
	font-family: var(--font-family-unbounded);
	letter-spacing: 0.7px;
	text-transform: uppercase;
	cursor: pointer;
	transition: var(--transition);

	.decor {
		position: relative;
		min-height: 12px;
		height: 12px;

		&,
		span {
			min-width: 26px;
			width: 26px;
		}
		span {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			min-height: 2px;
			height: 2px;
			border-radius: 2px;
			background-color: var(--red-color);
			transition: var(--transition);

			&::before,
			&::after {
				content: "";
				position: absolute;
				top: 50%;
				right: 0;
				min-width: 8px;
				width: 8px;
				min-height: 2px;
				height: 2px;
				border-radius: 2px;
				background-color: var(--red-color);
			}
			&::before {
				transform: translateY(-4px) rotate(45deg);
			}
			&::after {
				transform: translateY(2px) rotate(-45deg);
			}
		}
	}

	&:hover {
		.decor {
			span {
				left: 4px;
				min-width: 40px;
				width: 40px;
			}
		}
	}
}
@media (min-width: 992px) {
	.more-link {
		font-size: 14px;
	}
}
@media (max-width: 991.98px) {
	.more-link {
		font-size: 12px;
	}
}

.social {
	&__title {
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}
	&__list {
		display: flex;
		align-items: center;
		gap: 8px;

		& a {
			display: flex;
			border-radius: 4px;

			& .icon {
				min-width: 40px;
				width: 40px;
				min-height: 40px;
				height: 40px;
				fill: var(--interface6-color);
			}

			&:hover {
				& .icon {
					fill: var(--interface9-color);
				}
			}
		}
		.social-vk {
			& .icon {
				fill: #0277FF;
			}

			&:hover {
				& .icon {
					fill: rgba(2, 119, 255, 0.8);
				}
			}
		}
		.social-ok {
			& .icon {
				fill: #F7931E;
			}

			&:hover {
				& .icon {
					fill: rgba(247, 147, 30, 0.8);
				}
			}
		}
	}
}

.about {
	display: flex;

	&-item {
		flex: 1;
	}
	&-descr {
		&__content {
			color: var(--interface2-color);
		}
	}
	&-view,
	&-video {
		overflow: hidden;
	}
	&-video {
		position: relative;
		display: flex;
		border-radius: 16px;
		cursor: pointer;

		.image {
			min-width: 100%;
			width: 100%;
		}
	}
	&-history {
		color: var(--interface2-color);

		li {
			display: flex;
			align-items: flex-start;

			&:not(:last-child) {
				margin-bottom: 24px;
			}
		}
		&__marker {
			display: flex;
			padding: 2px;

			svg {
				fill: var(--red-color);
			}
		}
		&__date {
			font-weight: 600;
			white-space: nowrap;
		}
		&__divider {
			padding-right: 6px;
			padding-left: 6px;
		}
	}
	&-decor {
		min-height: 1px;
		height: 1px;
		background-color: var(--red-color);
	}
	&-caption {
		line-height: 1.3;
	}
}
@media (min-width: 992px) {
	.about {
		gap: 20px;

		&-descr {
			&__content {
				font-size: 18px;
			}
		}
		&-history {
			font-size: 18px;

			li {
				line-height: 24px;
			}
			&__marker {
				&:not(:last-child) {
					margin-right: 12px;
				}
				svg {
					min-width: 20px;
					width: 20px;
					min-height: 20px;
					height: 20px;
				}
			}
		}
		&-decor {
			margin-top: 24px;
		}
		&-caption {
			font-size: 36px;
		}

		&-imbalance {
			gap: 80px;

			.about-descr {
				min-width: calc((100% - 80px) * 0.42);
				width: calc((100% - 80px) * 0.42);
			}
			.about-view {
				min-width: calc((100% - 80px) * 0.58);
				width: calc((100% - 80px) * 0.58);
			}
		}
	}
}
@media (max-width: 991.98px) {
	.about {
		flex-direction: column;
		gap: 24px;

		&-history {
			li {
				line-height: 20px;
			}
			&__marker {
				&:not(:last-child) {
					margin-right: 8px;
				}
				svg {
					min-width: 16px;
					width: 16px;
					min-height: 16px;
					height: 16px;
				}
			}
		}
		&-caption {
			font-size: 18px;
		}
	}
}

.video-wrapper {
	position: relative;
	display: inline-flex;

	&,
	.video-player {
		min-width: 100%;
		width: 100%;
		border-radius: 16px;
		overflow: hidden;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.video-cover {
		z-index: 1;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 8px;
		background-color: rgba(31, 29, 28, 0.3);
		transition: var(--transition);
		pointer-events: none;
		user-select: none;
	}
	.video-controls {
		z-index: 2;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 60px;
		width: 60px;
		min-height: 60px;
		height: 60px;
		pointer-events: none;
		user-select: none;
	}
	.video-poster {
		z-index: 1;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		min-width: 100%;
		width: 100%;
		border-radius: 16px;
		overflow: hidden;
	}
	.video-caption {
		z-index: 2;
		position: relative;
		color: var(--white-color);
		font-weight: 600;
		font-size: 14px;
		pointer-events: none;
		user-select: none;
	}

	&:hover {
		.video-cover {
			background-color: transparent;
		}
		.video-controls {
			transform: scale(1.08);
		}
	}
}