:root {
	// base
	--font-family-sfpro: "SF Pro Display", sans-serif;
	--font-family-unbounded: "Unbounded", cursive;
	--content-width: 1180px;
	--container-offset: 10px;
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));

	// colors
	--black-color: #000000;
	--white-color: #FFFFFF;

	--interface0-color: #1F1F1F;
	--interface1-color: #1E232B;
	--interface2-color: #1F252D;
	--interface3-color: #292929;
	--interface4-color: #282D35;
	--interface5-color: #686868;
	--interface10-color: #414B5A;
	--interface11-color: #4F5867;
	--interface12-color: #687487;
	--interface13-color: #9CA7B8;
	--interface14-color: #B2BDCF;
	--interface15-color: #BEBEBE;
	--interface16-color: #D7D7D7;
	--interface17-color: #E0E0E0;//20
	--interface18-color: #E9E8E8;//17
	--interface19-color: #ECECEC;//18
	--interface20-color: #F8F8F8;//19


	--red1-color: #932229;
	--red2-color: #A1232A;
	--red3-color: #AF272F;
	--red4-color: rgba(255, 63, 63, 0.45);
	--red5-color: rgba(255, 63, 63, 0.3);
	--red6-color: rgba(255, 63, 63, 0.2);

	// fancybox
	--fancybox-scrollbar-compensate: 17px;
	--fancybox-bg: rgba(0, 0, 0, 0.7);

	// transition
	--transition: 0.2s ease-out;
}