// базовые подключения
@import "vars";
@import "fonts";
@import "./vendors/normalize";
@import "./helpers/grid-bootstrap";
@import "../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox";
@import "../../node_modules/swiper/swiper-bundle";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/footer";

.main {
	position: relative;
	flex: 1;
	min-width: 320px;
	overflow: hidden;
}
.index {
	.main {
		padding-top: unset;
	}
}
@media (min-width: 992px) {
	.main {
		padding-top: 194px;
	}
}
@media (max-width: 991.98px) {
	.main {
		padding-top: 106px;
	}
}

body:not(.is-using-mouse) {
	.fancybox {
		&__container {
			.carousel__button:focus {
				box-shadow: none;
			}
		}
	}
}
.fancybox {
	&__html5video {
		outline: none;
	}
}

.index-fs {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	color: var(--white-color);

	&-header {
		display: flex;

		&__item {
			display: flex;
		}
		&__title {
			color: var(--white-color);
			line-height: 1.4;
		}
	}
}
@media (min-width: 992px) {
	.index-fs {
		padding-top: 164px;
		padding-bottom: 80px;
		background-position: center;

		&::after {
			content: '';
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			min-height: 100px;
			height: 100px;
			background: linear-gradient(to bottom, rgba(31, 37, 45, 0) 0%, rgba(31, 37, 45, 0.83) 50%, rgba(31, 37, 45, 1) 100%);
		}
		&-header {
			gap: 40px;

			&__item {
				flex: 1;

				&:first-child {
					min-width: 53%;
					width: 53%;
					padding-top: 52px;
					padding-bottom: 60px;
				}
			}
			&__title {
				font-size: 40px;
			}
		}
	}
}
@media (max-width: 991.98px) {
	.index-fs {
		padding-top: 98px;
		padding-bottom: 52px;
		background-position: left -760px center;

		&-header {
			flex-direction: column;
			gap: 24px;

			&-wrapper {
				padding-top: 24px;
				padding-bottom: 32px;
			}
			&__title {
				font-size: 28px;
			}
		}
	}
}

.index-fs-calculate {
	position: relative;
	display: flex;

	&__request {
		display: flex;
		flex-direction: column;
		gap: 16px;
		color: var(--white-color);

		&-title {
			line-height: 20px;
		}
	}
	&__categories {
		display: flex;

		&-item {
			position: relative;
			display: flex;
			flex: 1;
			flex-direction: column;
			gap: 16px;
			padding: 16px 24px 24px;
			overflow: hidden;
			backdrop-filter: blur(20px);

			&:hover {
				.index-fs-calculate__categories-pointer {
					.icon {
						transform: scale(1.15);
					}
				}
			}
		}
		&-zipper {
			background-color: var(--red1-color);

			.index-fs-calculate__categories-decor {
				transform: translate(0, 0)
			}
			&:hover {
				.index-fs-calculate__categories-decor {
					transform: translate(20px, -20px);
				}
			}
		}
		&-fitting {
			background-color: var(--red4-color);
		}
		&-tape {
			background-color: var(--red5-color);
		}
		&-service {
			background-color: var(--red6-color);
		}
		&-decor {
			z-index: 0;
			position: absolute;
			right: 0;
			bottom: 0;
			background-repeat: no-repeat;
			background-position: right bottom;
			background-size: contain;
			transition: var(--transition);
		}
		&-title {
			position: relative;
			flex: 1;
			color: var(--white-color);
			font-weight: 700;
		}
		&-pointer {
			position: relative;
			display: flex;

			.icon {
				min-width: 36px;
				width: 36px;
				min-height: 36px;
				height: 36px;
				transition: var(--transition);
			}
		}
	}
}
@keyframes moveZipper {
	0% {
		transform: translate(0, 0)
	}
	100% {
		transform: translate(50px, 50px);
	}
}
@media (min-width: 992px) {
	.index-fs-calculate {
		gap: 16px;

		&__request {
			flex: 1;
			padding-top: 16px;
			padding-bottom: 16px;

			&-title {
				font-size: 16px;
			}
		}
		&__categories {
			min-width: 62%;
			width: 62%;

			&-item {
				min-height: 160px;
			}
			&-zipper {
				.index-fs-calculate__categories-decor {
					min-width: 130px;
					width: 130px;
					min-height: 150px;
					height: 150px;
				}
			}
			&-fitting {
				.index-fs-calculate__categories-decor {
					min-width: 125px;
					width: 125px;
					min-height: 105px;
					height: 105px;
				}
			}
			&-tape {
				.index-fs-calculate__categories-decor {
					min-width: 160px;
					width: 160px;
					min-height: 120px;
					height: 120px;
				}
			}
			&-service {
				.index-fs-calculate__categories-decor {
					min-width: 100px;
					width: 100px;
					min-height: 100px;
					height: 100px;
				}
			}
			&-title {
				font-size: 16px;
			}
		}
	}
}
@media (max-width: 991.98px) {
	.index-fs-calculate {
		flex-direction: column;
		gap: 32px;
		padding-top: 16px;
		padding-bottom: 32px;

		&__request {
			&-title {
				font-size: 13px;
			}
			&-btn {
				.btn {
					min-width: 100%;
					width: 100%;
				}
			}
		}
		&__categories {
			flex-direction: column;
			gap: 16px;

			&-item {
				min-height: 115px;
			}
			&-zipper {
				.index-fs-calculate__categories-decor {
					min-width: 115px;
					width: 115px;
					min-height: 115px;
					height: 115px;
				}
			}
			&-fitting {
				.index-fs-calculate__categories-decor {
					min-width: 110px;
					width: 110px;
					min-height: 100px;
					height: 100px;
				}
			}
			&-tape {
				.index-fs-calculate__categories-decor {
					min-width: 150px;
					width: 150px;
					min-height: 115px;
					height: 115px;
				}
			}
			&-service {
				.index-fs-calculate__categories-decor {
					min-width: 100px;
					width: 100px;
					min-height: 100px;
					height: 100px;
				}
			}
			&-title {
				font-size: 15px;
			}
		}
	}
}

.index-fs-categories-slider {
	.swiper-slide {
		position: relative;
		display: flex;
		align-items: center;
		min-height: 44px;
		height: 44px;
		padding: 0 20px;
		background-color: var(--interface1-color);
		color: var(--interface13-color);
		font-size: 16px;
		line-height: 20px;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(-50%, -50%);
			min-width: 5px;
			width: 5px;
			min-height: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: var(--interface10-color);
		}
	}
}

.numbers {
	display: flex;

	&__item {
		display: flex;
		flex: 1;
		flex-direction: column;
		border: 1px solid transparent;
		overflow: hidden;

		&:not(.numbers__item--dark, .numbers__item--red) {
			border-color: var(--interface18-color);
			background-color: transparent;
		}
		&--dark,
		&--red {
			color: var(--white-color);
		}
		&--dark {
			border-color: var(--interface2-color);
			background-color: var(--interface2-color);
		}
		&--red {
			border-color: var(--red3-color);
			background-color: var(--red3-color);
		}
	}
	&__value {
		display: flex;
		flex: 1;
		font-family: var(--font-family-unbounded);
		font-weight: 700;
		line-height: 1;
		white-space: nowrap;
	}
	&__descr {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
}
@media (min-width: 768px) {
	.numbers {
		flex-wrap: wrap;

		&__item {
			min-width: 33.33%;
			width: 33.33%;
			min-height: 265px;

			&--lg {
				min-width: 50%;
				width: 50%;
			}
		}
		&__descr {
			-webkit-line-clamp: 2;
		}
	}
}
@media (min-width: 992px) {
	.numbers {
		&__item {
			gap: 24px;
			min-width: 33.33%;
			width: 33.33%;
			min-height: 265px;
			padding: 48px;

			&--lg {
				min-width: 50%;
				width: 50%;
			}
		}
		&__value {
			font-size: 50px;
		}
		&__descr {
			min-height: 48px;
			height: 48px;
			font-size: 20px;
			line-height: 24px;
		}
	}
}
@media (max-width: 991.98px) {
	.numbers {
		&__value {
			font-size: 30px;
		}
		&__descr {
			font-size: 14px;
			line-height: 20px;
		}
	}
}
@media (max-width: 767.98px) {
	.numbers {
		flex-direction: column;

		&__item {
			gap: 12px;
			min-width: 100%;
			width: 100%;
			min-height: 120px;
			padding: 24px;
		}
		&__descr {
			min-height: 20px;
			height: 20px;
			-webkit-line-clamp: 1;
		}
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.numbers {
		&__item {
			gap: 16px;
			min-height: 180px;
			padding: 32px;

			&--lg {
				min-width: 50%;
				width: 50%;
			}
		}
		&__descr {
			min-height: 40px;
			height: 40px;
		}
	}
}

.brand-history {
	&__list {
		display: flex;
		flex-direction: column;
	}
	&__item {
		display: flex;
		align-items: flex-start;
	}
	&__marker {
		display: flex;

		.icon {
			fill: var(--red3-color);
			stroke: var(--red3-color);
		}
	}
	&__date {
		font-weight: 700;
		line-height: 1;
		white-space: nowrap;
	}
	&__divider {
		padding-right: 24px;
		padding-left: 24px;
	}
}
@media (min-width: 992px) {
	.brand-history {
		font-size: 18px;

		&__list {
			gap: 24px;
		}
		&__marker {
			&:not(:last-child) {
				margin-right: 20px;
			}
			.icon {
				min-width: 28px;
				width: 28px;
				min-height: 24px;
				height: 24px;
			}
		}
		&__date {
			min-width: 110px;
			width: 110px;
			font-size: 24px;
		}
		&__text {
			font-size: 20px;
			line-height: 24px;
		}
	}
}
@media (max-width: 991.98px) {
	.brand-history {
		&__list {
			gap: 20px;
		}
		&__item {
			flex-wrap: wrap;
			row-gap: 10px;
		}
		&__marker {
			&:not(:last-child) {
				margin-right: 8px;
			}
			.icon {
				min-width: 20px;
				width: 20px;
				min-height: 16px;
				height: 16px;
			}
		}
		&__date {
			font-size: 16px;
		}
		&__divider {
			display: none;
		}
		&__text {
			min-width: 100%;
			width: 100%;
			font-size: 13px;
			line-height: 20px;
		}
	}
}

.counted-section {
	position: relative;

	&__pointer {
		color: var(--interface15-color);
		line-height: 20px;
	}
}
@media (min-width: 992px) {
	.counted-section {
		&__pointer {
			position: absolute;
			left: 0;
			top: 8px;
			font-size: 15px;
		}
	}
}
@media (max-width: 991.98px) {
	.counted-section {
		&__pointer {
			font-size: 13px;
		}
	}
}

.advantage {
	display: flex;
	flex-wrap: wrap;

	&__item {
		min-width: 100%;
		width: 100%;
	}
	&-uniq {
		display: flex;
		gap: 16px 24px;

		&__item {
			break-inside: avoid;
		}
	}
	&-quality {
		&__list {
			counter-reset: counter-quality;

			&-item {
				position: relative;
				counter-increment: counter-quality;

				&:before {
					content: counter(counter-quality) " этап:";
					position: absolute;
					top: 0;
					left: 0;
					color: var(--red3-color);
					font-weight: 700;
					line-height: 20px;
				}
			}
		}
		&__item {
			&:not(.advantage-quality__item--certificate) {
				flex: 1;
			}
		}
		&-certificate {
			position: relative;
			overflow: hidden;

			&::before,
			&::after {
				z-index: 0;
				content: '';
				position: absolute;
				border-style: solid;
				border-color: var(--interface19-color);
			}
			&::before {
				inset: 0;
			}
			&::after {
				transform: rotate(45deg);
				background-color: var(--white-color);
			}
			&__list {
				display: flex;
				flex-wrap: wrap;

				&-item {
					display: flex;
					justify-content: center;
					align-items: center;
				}

				.image {
					min-width: 100%;
					width: 100%;
					height: auto;
					object-fit: cover;
				}
			}
		}
		&-sample {
			position: relative;
			display: flex;
			gap: 32px;
			background-color: var(--interface4-color);

			&::before {
				content: '';
				z-index: 1;
				position: absolute;
				transform: rotate(45deg);
				background-color: var(--white-color);
			}
			&__view {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;

				&::before {
					content: '';
					position: absolute;
				}
				.image {
					min-width: 100%;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			&__descr {
				display: flex;
				color: var(--white-color);

				&-container {
					display: flex;
					flex-direction: column;
					gap: 24px;
				}
			}
			&__info {
				display: flex;
				flex-direction: column;
				gap: 16px;

				&-title {
					font-weight: 700;
					line-height: 1.3;
				}
				&-subtitle {
					line-height: 20px;
				}
			}
			&__request {
				.btn {
					color: var(--white-color);

					.icon {
						fill: var(--white-color);
						stroke: var(--white-color);
					}
				}
			}
		}
	}
	&-service {
		&__list {
			&-item {
				display: flex;
				align-items: center;

				.icon {
					fill: var(--red3-color);
					stroke: var(--red3-color);
				}
			}
		}
	}
}
@media (min-width: 992px) {
	.advantage {
		column-gap: 40px;

		&__item {
			&--half {
				min-width: calc((100% - 40px) / 2);
				width: calc((100% - 40px) / 2);
			}
		}
		&-uniq {
			flex-wrap: wrap;

			&__list {
				column-count: 2;
				column-gap: 24px;
			}
			&__item {
				&:not(:last-child) {
					margin-bottom: 24px;
				}
			}
			.custom-checkbox,
			.custom-radio {
				gap: 16px;
			}
		}
		&-quality {
			&__list {
				&-item {
					padding-left: 84px;

					&:before {
						top: 3px;
					}
					&:not(:last-child) {
						margin-bottom: 24px;
					}
				}
			}
			&__item {
				min-width: unset;
				width: auto;
			}
			&-certificate {
				min-width: 440px;
				width: 440px;
				padding: 32px 40px 40px;

				&::before,
				&::after {
					border-width: 5px;
				}
				&::after {
					top: 48px;
					left: -16px;
					min-width: 28px;
					width: 28px;
					min-height: 28px;
					height: 28px;
				}
				&__list {
					gap: 20px;

					&-item {
						min-width: calc((100% - 20px) / 2);
						width: calc((100% - 20px) / 2);
					}
				}
			}
			&-sample {
				&::before {
					top: 50%;
					right: -20px;
					min-width: 40px;
					width: 40px;
					min-height: 40px;
					height: 40px;
					margin-top: -20px;
				}
				&__view {
					min-width: 43%;
					width: 43%;

					&::before {
						top: 0;
						right: 0;
						bottom: 0;
						min-width: 180px;
						width: 180px;
						background: linear-gradient(to right, rgba(40, 45, 53, 0), rgba(40, 45, 53, 0.6) 30%, rgba(40, 45, 53, 1));
					}
				}
				&__descr {
					flex: 1;
					justify-content: flex-end;
					padding: 40px 96px;

					&-container {
						max-width: 540px;
					}
				}
				&__info {
					&-title {
						font-size: 20px;
					}
					&-subtitle {
						font-size: 14px;
					}
				}
				&__request {
					.btn {
						min-width: 240px;
					}
				}
			}
		}
		&-service {
			&__list {
				column-count: 2;
				column-gap: 96px;

				&-item {
					gap: 20px;

					&:not(:last-child) {
						margin-bottom: 20px;
					}
					.icon {
						min-width: 20px;
						width: 20px;
						min-height: 20px;
						height: 20px;
					}
				}
			}
		}
	}
}
@media (max-width: 991.98px) {
	.advantage {
		&-uniq {
			flex-direction: column;

			&__item {
				&:not(:last-child) {
					margin-bottom: 16px;
				}
			}
		}
		&-quality {
			&__list {
				&-item {
					padding-top: 24px;

					&:not(:last-child) {
						margin-bottom: 20px;
					}
				}
			}
			&-certificate {
				padding: 16px 20px 20px;

				&::before,
				&::after {
					border-width: 3px;
				}
				&::after {
					top: 32px;
					left: -8px;
					min-width: 16px;
					width: 16px;
					min-height: 16px;
					height: 16px;
				}
				&__list {
					gap: 8px;

					&-item {
						min-width: calc((100% - 8px) / 2);
						width: calc((100% - 8px) / 2);
					}
				}
			}
			&-sample {
				flex-direction: column;
				padding-top: 32px;

				&::before {
					top: -12px;
					left: 50%;
					min-width: 24px;
					width: 24px;
					min-height: 24px;
					height: 24px;
					margin-left: -12px;
				}
				&-wrapper {
					margin-right: -10px;
					margin-left: -10px;
				}
				&__view {
					order: 1;

					&::before {
						top: 0;
						right: 0;
						left: 0;
						min-height: 120px;
						height: 120px;
						background: linear-gradient(to top, rgba(40, 45, 53, 0), rgba(40, 45, 53, 0.6) 30%, rgba(40, 45, 53, 1));
					}
				}
				&__descr {
					padding-right: 10px;
					padding-left: 10px;

					&-container {
						min-width: 100%;
						width: 100%;
					}
				}
				&__info {
					&-title {
						font-size: 18px;
					}
					&-subtitle {
						font-size: 13px;
					}
				}
				&__request {
					.btn {
						min-width: 100%;
						width: 100%;
					}
				}
			}
		}
		&-service {
			&__list {
				&-item {
					gap: 8px;

					&:not(:last-child) {
						margin-bottom: 16px;
					}
					.icon {
						min-width: 16px;
						width: 16px;
						min-height: 16px;
						height: 16px;
					}
				}
			}
		}
	}
}

.border-heading {
	position: relative;
	border-style: solid;
	border-color: var(--red3-color);

	&__title {
		font-family: var(--font-family-sfpro);
		line-height: 1.3;
	}
}
@media (min-width: 992px) {
	.border-heading {
		padding: 40px 80px;
		border-width: 5px;

		&__title {
			position: absolute;
			top: -20px;
			left: 60px;
			max-width: calc(100% - 120px);
			padding-right: 20px;
			padding-left: 20px;
			background-color: var(--white-color);
			font-size: 24px;
		}
	}
}
@media (max-width: 991.98px) {
	.border-heading {
		padding: 20px 16px 24px;
		border-width: 3px;

		&__title {
			font-size: 18px;
		}
	}
}

.production-slider {
	&-wrapper {
		background-color: var(--interface20-color);
	}
	.swiper-slide {
		display: flex;
		justify-content: center;
		align-items: center;
		transition: var(--transition);

		.image {
			min-width: 100%;
			width: 100%;
			height: auto;
			object-fit: cover;
		}
	}
}
@media (min-width: 992px) {
	.production-slider {
		&-wrapper {
			padding-top: 148px;
			padding-bottom: 68px;
		}
		.swiper-navigation {
			top: -70px;
			right: 0;
			left: unset;
			min-width: 140px;
			width: 140px;
		}
		.swiper-pagination-bullets {
			bottom: -20px;
		}
		.swiper-slide {
			&:not(.swiper-slide-active, .swiper-slide-next) {
				filter: grayscale(1);

				.image {
					aspect-ratio: 16 / 9;
				}
			}
			.image {
				aspect-ratio: 16 / 10;
			}
		}
	}
}
@media (max-width: 991.98px) {
	.production-slider {
		&-wrapper {
			padding-top: 40px;
			padding-bottom: 100px;
		}
		.swiper-navigation {
			top: unset;
			bottom: -60px;
			min-width: 84px;
			width: 84px;
			margin-right: auto;
			margin-left: auto;
		}
		.swiper-pagination-bullets {
			display: none;
		}
		.swiper-slide {
			min-width: 235px;
			width: 235px;

			.image {
				min-height: 150px;
				height: 150px;
			}
		}
	}
}

.banner-order {
	position: relative;
	display: flex;
	flex-direction: column;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: var(--white-color);

	&-heading {
		&__logo {
			display: flex;
			align-items: center;
		}
		&__title {
			display: flex;
			color: var(--white-color);
			line-height: 1.4;
		}
		&__subtitle {
			font-weight: 700;
		}
	}
	&-request {
		display: flex;

		&__container {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}
		&__title {
			font-weight: 500;
			font-size: 15px;
		}
	}
}
@media (min-width: 992px) {
	.banner-order {
		gap: 32px;
		padding-top: 80px;
		padding-bottom: 120px;

		&-heading {
			display: grid;
			grid-template-columns: calc((((100vw - 17px) - 970px) / 2) + 230px) 1fr;
			backdrop-filter: blur(10px);
			background-color: rgba(0, 0, 0, 0.15);

			&__logo {
				grid-column: 1/2;
				grid-row: 1/3;
				justify-content: flex-end;
				padding: 56px 56px 56px calc(((100vw - 17px) - 970px) / 2);
				background-color: rgba(0, 0, 0, 0.1);

				.image {
					min-width: 175px;
					width: 175px;
					min-height: 135px;
					height: 135px;
				}
			}
			&__title {
				grid-column: 2/3;
				grid-row: 1/2;
				max-width: 780px;
				padding-top: 40px;
				padding-left: 32px;
			}
			&__subtitle {
				grid-column: 2/3;
				grid-row: 2/3;
				max-width: 780px;
				padding-bottom: 40px;
				padding-left: 32px;
				font-size: 24px;
			}
		}
		&-request {
			padding-top: 24px;
			padding-bottom: 32px;

			&__container {
				justify-content: center;
				gap: 20px;
			}
			&__title {
				max-width: 230px;
			}
		}
	}
}
@media (max-width: 991.98px) {
	.banner-order {
		gap: 20px;
		padding-top: 40px;
		padding-bottom: 40px;

		&-heading {
			display: flex;
			flex-wrap: wrap;

			&__logo {
				justify-content: center;
				min-width: 96px;
				width: 96px;
				padding: 20px;
				backdrop-filter: blur(10px);
				background-color: rgba(0, 0, 0, 0.25);

				.image {
					min-width: 56px;
					width: 56px;
					min-height: 44px;
					height: 44px;
				}
			}
			&__title {
				align-items: center;
				min-width: calc(100% - 96px);
				width: calc(100% - 96px);
				padding: 10px;
				backdrop-filter: blur(10px);
				background-color: rgba(0, 0, 0, 0.15);
				font-size: 20px;
			}
			&__subtitle {
				min-width: 100%;
				width: 100%;
				padding: 20px 10px 0;
			}
		}
		&-request {
			padding: 32px 10px 24px;

			&__container {
				gap: 16px;
			}
			.btn {
				min-width: 100%;
				width: 100%;
			}
			&__title {
				text-align: center;
			}
		}
	}
}
@media (max-width: 575.98px) {
	.banner-order {
		&-heading {
			&__title {
				font-size: 18px;
			}
		}
	}
}

.brand-plan {
	position: relative;
	display: flex;
	border-style: solid;
	border-color: var(--red3-color);

	&__title {
		font-family: var(--font-family-sfpro);
		line-height: 1.3;
	}
	&__more {
		.btn {
			min-width: 100%;
			width: 100%;
		}
	}
	&__view {
		display: flex;

		.image {
			object-fit: cover;
		}
	}
}
@media (min-width: 992px) {
	.brand-plan {
		gap: 80px;
		border-width: 5px;

		&__descr {
			padding: 40px 80px;
		}
		&__title {
			max-width: 430px;
			font-size: 24px;
		}
		&__more {
			min-width: 240px;
			width: 240px;
		}
		&__view {
			min-width: 370px;
			width: 370px;

			.image {
				min-width: 100%;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}
@media (max-width: 991.98px) {
	.brand-plan {
		flex-direction: column;
		gap: 16px;
		border-width: 3px;

		&__descr {
			padding: 20px 20px 0;
		}
		&__title {
			font-size: 18px;
		}
		&__more {
			min-width: 100%;
			width: 100%;
		}
		&__view {
			justify-content: flex-end;
			min-height: 235px;
			height: 235px;

			.image {
				min-width: 300px;
				width: 300px;
				height: 235px;
			}
		}
	}
}

.certificate {
	display: flex;
	flex-wrap: wrap;

	&-subtitle {
		max-width: 700px;
		line-height: 1.3;

		&.custom-checkbox,
		&.custom-radio {
			gap: 16px;
		}
	}
	&__item {
		display: flex;
		flex-direction: column;
		background-color: var(--white-color);
	}
	&__descr {
		font-weight: 600;
	}
}
@media (min-width: 992px) {
	.certificate {
		gap: 32px;

		&-subtitle {
			.custom-checkbox__input,
			.custom-radio__input {
				min-width: 24px;
				width: 24px;
				min-height: 24px;
				height: 24px;
			}
		}
		&__item {
			gap: 16px;
			min-width: calc((100% - 64px) / 3);
			width: calc((100% - 64px) / 3);
			padding: 20px 20px 24px;
		}
		&__descr {
			font-size: 16px;
		}
	}
}
@media (max-width: 991.98px) {
	.certificate {
		gap: 20px;

		&-subtitle {
			.custom-checkbox__input,
			.custom-radio__input {
				min-width: 24px;
				width: 24px;
				min-height: 24px;
				height: 24px;
			}
		}
		&__item {
			gap: 20px;
			padding: 12px 12px 32px;
		}
		&__descr {
			font-size: 14px;
		}
	}
}
@media (max-width: 575.98px) {
	.certificate {
		&__item {
			min-width: 100%;
			width: 100%;
		}
	}
}
@media (min-width: 576px) and (max-width: 991.98px) {
	.certificate {
		&__item {
			min-width: calc((100% - 20px) / 2);
			width: calc((100% - 20px) / 2);
		}
	}
}

.news-slider {
	&-wrapper {
		overflow: hidden;
	}
	.swiper-slide {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--interface16-color);
	}
}
@media (min-width: 992px) {
	.news-slider {
		&-wrapper {
			padding-right: 100px;
			padding-left: 100px;
		}
		.swiper-slide {
			min-height: 310px;
			height: 310px;
		}
		.swiper-navigation {
			right: -100px;
			left: -100px;
		}
	}
}
@media (max-width: 991.98px) {
	.news-slider {
		&-wrapper {
			padding-right: 40px;
			padding-left: 40px;
		}
		.swiper-navigation {
			right: -40px;
			left: -40px;
		}
	}
}
@media (max-width: 575.98px) {
	.news-slider {
		.swiper-slide {
			min-height: 150px;
			height: 150px;
		}
	}
}
@media (min-width: 576px) and (max-width: 991.98px) {
	.news-slider {
		.swiper-slide {
			min-height: 230px;
			height: 230px;
		}
	}
}

.contacts {
	&-map {
		position: relative;
		min-height: 360px;
		height: 360px;
		overflow: hidden;

		&-content {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 100%;
		}
	}
}

.zippers {
	&-type {
		position: relative;
	}

	&-structure {
		display: flex;

		&__view {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&__descr {
			display: flex;
			flex-direction: column;
			gap: 24px;
		}
		&__count {
			display: flex;
			flex-direction: column;
			counter-reset: zippers-structure-count;

			&-item {
				position: relative;
				display: flex;
				flex-direction: column;
				gap: 8px;
				counter-increment: zippers-structure-count;

				&::before {
					content: counter(zippers-structure-count);
					position: absolute;
					left: 0;
					display: flex;
					justify-content: center;
					align-items: center;
					margin-right: 16px;
					background-color: var(--red3-color);
					color: var(--white-color);
					font-weight: 700;
					line-height: 1;
				}
			}
			&-title {
				font-weight: 700;
			}
			&-text {
				font-weight: 500;
				line-height: 20px;
			}
		}
	}

	&-link {
		display: flex;

		&__descr {
			display: flex;
			flex: 1;
			flex-direction: column;

			&-title {
				font-weight: 600;
			}
			&-subtitle {
				line-height: 1.6;
			}
		}
		&__view {
			display: flex;
			gap: 32px;
			counter-reset: zippers-link-count;

			&-item {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 8px;
				min-width: 180px;
				width: 180px;
				counter-increment: zippers-link-count;
			}
			&-title {
				position: relative;
				padding-left: 64px;
				font-weight: 500;
				font-size: 14px;
				line-height: 1.2;

				&::before {
					content: counter(zippers-link-count, decimal-leading-zero);
					position: absolute;
					top: 2px;
					right: calc(100% - 56px);
					min-width: 32px;
					width: 32px;
					color: var(--red3-color);
					font-family: var(--font-family-unbounded);
					font-weight: 700;
					font-size: 18px;
					line-height: 1;
					text-align: right;
				}
			}
		}
	}

	&-link-subcategory {
		display: flex;
		flex-direction: column;

		&__descr {
			display: flex;
			flex: 1;
			flex-direction: column;

			&-subtitle {
				line-height: 1.6;
			}
		}
		&__table {
			border-collapse: collapse;
			border-spacing: unset;

			&-wrapper {
				display: flex;
			}
			&-row {
				&:not(:last-child) {
					border-bottom: 1px solid var(--interface18-color);
				}
			}
			&-col {
				min-height: 48px;
				height: 48px;
			}
			&-view {
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}

	&-length {
		display: flex;
		flex-direction: column;

		&__standard {
			position: relative;
			display: flex;

			&-view {
				display: flex;
				justify-content: center;
				align-items: center;

				&-content {
					display: flex;
					align-items: center;
					min-height: 60px;
					background-color: var(--red3-color);
					color: var(--white-color);
					font-weight: 600;
					text-align: center;
				}
			}
			&-pointer {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				min-width: 100px;
				width: 100px;
				min-height: 32px;
				height: 32px;
				display: flex;
			}
			&-size {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 8px;
			}
		}
		&__measurement {
			display: flex;
			flex-direction: column;
			gap: 32px;

			&-item {
				display: flex;
			}
			&-view {
				display: flex;
				justify-content: center;
			}
			&-descr {
				position: relative;

				&::before {
					content: "";
					position: absolute;
					background-color: rgba(31, 37, 45, 0.2);
				}
			}
		}
	}

	&-length-opt {
		display: flex;
		flex-direction: column;
		gap: 24px;

		&__standard {
			.image {
				height: auto;
			}
		}
		&__note {
			display: flex;
			flex-direction: column;

			&-header {
				display: flex;
				align-items: center;

				&-view {
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: var(--red3-color);

					.icon {
						fill: var(--white-color);
						stroke: var(--white-color);
					}
				}
				&-title {
					font-weight: 600;
				}
			}
			&-list {
				display: flex;
				gap: 16px;
				counter-reset: zippers-length-opt;
			}
			&-item {
				position: relative;
				counter-increment: zippers-length-opt;

				&::before {
					content: counter(zippers-length-opt, decimal-leading-zero);
					position: absolute;
					color: rgba(31, 37, 45, 0.2);
					font-weight: 700;
					line-height: 1;
				}
				&-content {
					font-weight: 500;
				}
			}
		}
	}

	&-for-use {
		display: flex;
		gap: 40px;

		&__item {
			display: flex;
			flex-direction: column;
			gap: 16px;
			max-width: 220px;
		}
		&__view {
			display: flex;

			&-content {
				display: flex;
				justify-content: center;
				align-items: center;
				min-width: 70px;
				width: 70px;
				min-height: 70px;
				height: 70px;
				background-color: var(--white-color);

				.image {
					min-width: 32px;
					width: 32px;
					min-height: 32px;
					height: 32px;
				}
			}
		}
		&__descr {
			line-height: 1.5;
		}
	}
}
@media (min-width: 768px) {
	.zippers {
		&-structure {
			flex-wrap: wrap;

			&__descr {
				flex: 1;
			}
		}

		&-link {
			&__view {
				flex-wrap: wrap;
			}
		}

		&-link-subcategory {
			&-wrapper {
				padding-bottom: 80px;
				border-bottom: 1px solid var(--interface18-color);
			}
			&__table {
				min-width: 66.6%;
				width: 66.6%;

				&-wrapper {
					border: 1px solid var(--interface18-color);
				}
				&-view {
					min-width: 33.3%;
					width: 33.3%;
				}
				&-col {
					padding: 0 16px;
					border-right: 1px solid var(--interface18-color);
				}
			}
		}

		&-length {
			gap: 40px;

			&__standard {
				align-items: center;

				&-view {
					&-content {
						padding-right: 40px;
						padding-left: 40px;
					}
				}
			}
			&__measurement {
				&-item {
					align-items: center;
				}
				&-descr {
					&::before {
						top: 50%;
						left: 0;
						min-width: 2px;
						width: 2px;
						min-height: 100px;
						height: 100px;
						transform: translateY(-50%);
					}
				}
			}
		}
	}
}
@media (min-width: 992px) {
	.zippers {
		&-type {
			gap: 60px 32px;

			&::before {
				content: "";
				position: absolute;
				top: -20px;
				bottom: -32px;
				left: 50%;
				min-width: 1px;
				width: 1px;
				background-color: var(--interface18-color);
			}
			&-wrapper {
				padding-bottom: 80px;
				border-bottom: 1px solid var(--interface18-color);
			}
		}

		&-structure {
			gap: 60px;

			&__view {
				gap: 24px;
				min-width: 400px;
				width: 400px;
			}
			&__count {
				gap: 24px;

				&-item {
					padding-left: 52px;

					&::before {
						top: 4px;
						min-width: 36px;
						width: 36px;
						min-height: 36px;
						height: 36px;
						font-size: 24px;
					}
				}
				&-title {
					font-size: 18px;
				}
				&-text {
					font-size: 16px;
				}
			}
		}

		&-link {
			gap: 60px;

			&__descr {
				gap: 20px;

				&-title,
				&-text {
					max-width: 400px;
				}
				&-title {
					font-size: 24px;
				}
				&-subtitle {
					max-width: 640px;
					font-size: 20px;
				}
				&-text {
					font-size: 18px;
				}
			}
		}

		&-length {
			&__standard {
				gap: 164px;

				&-view {
					flex: 1;

					&-content {
						font-size: 24px;
					}
				}
				&-size {
					flex: 1;
					font-size: 24px;
				}
			}
			&__measurement {
				&-view {
					padding-right: 40px;

					.image {
						min-width: 550px;
						width: 550px;
						min-height: 220px;
						height: 220px;
					}
				}
				&-descr {
					padding-left: 60px;
				}
			}
		}

		&-length-opt {
			&__note {
				gap: 20px;

				&-header {
					gap: 32px;

					&-view {
						min-width: 52px;
						width: 52px;
						min-height: 52px;
						height: 52px;

						.icon {
							min-width: 20px;
							width: 20px;
							min-height: 20px;
							height: 20px;
						}
					}
					&-title {
						font-size: 24px;
					}
				}
				&-list {
					flex-wrap: wrap;
				}
				&-item {
					min-width: calc((100% - 16px) / 2);
					width: calc((100% - 16px) / 2);
					padding-left: 76px;

					&::before {
						top: 6px;
						right: calc(100% - 60px);
						font-size: 32px;
					}
					&-content {
						font-size: 20px;
					}
				}
			}
		}

		&-link-subcategory {
			gap: 40px;

			&__descr {
				gap: 20px;

				&-subtitle {
					max-width: 640px;
					font-size: 20px;
				}
			}
			&__table {
				font-size: 16px;
			}
		}

		&-for-use {
			flex-wrap: wrap;
			justify-content: space-between;
			border-bottom: 1px solid var(--interface18-color);

			&__descr {
				font-size: 18px;
			}
		}
	}
}
@media (max-width: 991.98px) {
	.zippers {
		&-type {
			gap: 24px 20px;
		}

		&-structure {
			gap: 24px;

			&__view {
				gap: 20px;
			}

			&__count {
				gap: 20px;

				&-item {
					padding-left: 44px;

					&::before {
						top: 0;
						min-width: 28px;
						width: 28px;
						min-height: 28px;
						height: 28px;
						font-size: 16px;
					}
				}

				&-title {
					font-size: 15px;
				}

				&-text {
					font-size: 12px;
				}
			}
		}

		&-link {
			flex-direction: column;
			gap: 24px;

			&__descr {
				gap: 16px;

				&-title {
					font-size: 20px;
				}
				&-subtitle {
					font-size: 13px;
				}
			}
		}

		&-length {
			&__standard {
				gap: 20px;

				&-view {
					&-content {
						font-size: 16px;
					}
				}
				&-size {
					font-size: 16px;
				}
			}
		}

		&-length-opt {
			&__note {
				gap: 16px;

				&-header {
					gap: 12px;

					&-view {
						min-width: 32px;
						width: 32px;
						min-height: 32px;
						height: 32px;

						.icon {
							min-width: 12px;
							width: 12px;
							min-height: 12px;
							height: 12px;
						}
					}
					&-title {
						font-size: 15px;
					}
				}
				&-list {
					flex-direction: column;
				}
				&-item {
					padding-left: 32px;

					&::before {
						top: 0;
						left: 0;
						font-size: 16px;
					}
					&-content {
						font-size: 12px;
					}
				}
			}
		}

		&-link-subcategory {
			gap: 20px;

			&__descr {
				gap: 16px;

				&-subtitle {
					font-size: 13px;
				}
			}
			&__table {
				font-size: 13px;
			}
		}

		&-for-use {
			flex-direction: column;
			align-items: center;

			&__view,
			&__descr {
				justify-content: center;
			}
			&__descr {
				font-size: 15px;
				text-align: center;
			}
		}
	}
}
@media (max-width: 767.98px) {
	.zippers {
		&-structure {
			flex-direction: column;
		}

		&-link {
			&__view {
				flex-direction: column;
				align-items: center;
			}
		}

		&-link-subcategory {
			&__table {
				border: 1px solid var(--interface18-color);

				&-wrapper {
					flex-direction: column;
					gap: 8px;
				}
				&-col {
					padding: 0 12px;

					&:not(:first-child) {
						min-width: calc(100% - 80px);
						width: calc(100% - 80px);
					}
					&:first-child {
						min-width: 80px;
						width: 80px;
					}
					&:not(:last-child) {
						border-right: 1px solid var(--interface18-color);
					}
				}
			}
		}

		&-length {
			gap: 20px;

			&__standard {
				flex-wrap: wrap;
				align-items: flex-start;

				&-view {
					&-content {
						padding-right: 24px;
						padding-left: 24px;
					}
				}
				&-pointer {
					display: none;
				}
			}
			&__measurement {
				&-item {
					flex-direction: column;
					gap: 28px;
				}
				&-view {
					.image {
						min-width: 300px;
						width: 300px;
						min-height: 120px;
						height: 120px;
					}
				}
				&-descr {
					padding-right: 16px;
					padding-left: 16px;

					&::before {
						top: -14px;
						left: 16px;
						min-width: 170px;
						width: 170px;
						min-height: 1px;
						height: 1px;
						transform: translateY(-50%);
					}
				}
			}
		}

		&-length-opt {
			&__standard {
				min-width: calc(100% + 20px);
				width: calc(100% + 20px);
				margin-right: -10px;
				margin-left: -10px;
				padding-right: 10px;
				padding-left: 10px;
				overflow-x: scroll;

				&::-webkit {
				    &-scrollbar,
				    &-scrollbar-track,
				    &-scrollbar-thumb,
					&-scrollbar-button {
				        display: none;
				    }
				}
				.image {
					min-width: 570px;
					width: 570px;
					min-height: 200px;
					height: 200px;
					max-width: unset;
					object-fit: contain;
					overflow: auto;
				}
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.zippers {
		&-structure {
			&__view {
				min-width: 300px;
				width: 300px;
			}
		}

		&-link {
			&__view {
				justify-content: center;
			}
		}

		&-length {
			&__measurement {
				&-view {
					padding-right: 20px;

					.image {
						min-width: 400px;
						width: 400px;
						min-height: 160px;
						height: 160px;
					}
				}
				&-descr {
					padding-left: 40px;
				}
			}
		}
	}
}

.request-question {
	display: flex;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&__descr {
		color: var(--white-color);
	}
	&__header {
		display: flex;
		align-items: center;

		&-title {
			color: var(--white-color);
		}
		&-icon {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: var(--red3-color);

			.icon {
				fill: var(--white-color);
				stroke: var(--white-color);
			}
		}
	}
	&__list {
		color: rgba(255, 255, 255, 0.8);

		&-item {
			position: relative;
			padding-left: 16px;

			&::before {
				content: '';
				position: absolute;
				top: 12px;
				left: 0;
				min-width: 4px;
				width: 4px;
				min-height: 4px;
				height: 4px;
				border-radius: 50%;
				background-color: rgba(255, 255, 255, 0.3);
			}
		}
	}
	&__action {
		display: flex;
	}
}
@media (min-width: 992px) {
	.request-question {
		&__descr {
			max-width: 700px;
			width: 100%;
			padding: 48px 60px 60px;
		}
		&__header {
			gap: 24px;

			&-icon {
				min-width: 80px;
				width: 80px;
				min-height: 80px;
				height: 80px;

				.icon {
					min-width: 32px;
					width: 32px;
					min-height: 32px;
					height: 32px;
				}
			}
		}
		&__list {
			font-size: 16px;

			&-item {
				&:not(:last-child) {
					margin-bottom: 16px;
				}
			}
		}
		&__action {
			flex-wrap: wrap;
			gap: 24px;
		}
	}
}
@media (max-width: 991.98px) {
	.request-question {
		flex-direction: column;

		&__descr {
			padding: 20px 20px 24px;
		}
		&__header {
			gap: 20px;

			&-icon {
				min-width: 48px;
				width: 48px;
				min-height: 48px;
				height: 48px;

				.icon {
					min-width: 16px;
					width: 16px;
					min-height: 16px;
					height: 16px;
				}
			}
		}
		&__list {
			font-size: 12px;

			&-item {
				&:not(:last-child) {
					margin-bottom: 8px;
				}
			}
		}
		&__action {
			flex-direction: column;
			gap: 20px;
		}
	}
}