// базовые подключения
@import "fonts";
@import "vars";
@import "./helpers/grid-bootstrap";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/footer";

.main {
	position: relative;
	flex: 1;
	min-width: 375px;
	overflow: hidden;
}
@media (min-width: 992px) {
	body {
		&:not(.index) {
			.main {
				padding-top: 248px;
			}
		}
	}
}
@media (max-width: 991.98px) {
	body {
		&:not(.index) {
			.main {
				padding-top: 24px;
			}
		}
	}
}

body:not(.is-using-mouse) {
	.fancybox {
		&__container {
			.carousel__button:focus {
				box-shadow: none;
			}
		}
	}
}
.fancybox {
	&__html5video {
		outline: none;
	}
}

.index-slider-wrapper {
	position: relative;

	.swiper-navigation {
		right: 24px;
		left: 24px;
	}
	.swiper-pagination {
		position: absolute;
		right: 0;
		left: 0;
		min-height: 12px;
		height: 12px;

		&-bullet {
			width: 12px;
			height: 12px;
			border-radius: 2px;
			background-color: rgba(255, 255, 255, 0.2);

			&-active {
				background-color: var(--white-color);
			}
		}
	}
	.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
	.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
		margin: 0 6px;
	}
}
.index-slider {
	background-color: var(--interface1-color);

	.swiper-slide {
		height: auto;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}
}
@media (min-width: 992px) {
	.index-slider-wrapper {
		.swiper-pagination {
			bottom: 32px;
		}
	}
	.index-slider {
		.swiper-slide {
			padding-top: 250px;
			padding-bottom: 70px;
		}
	}
}
@media (max-width: 991.98px) {
	.index-slider-wrapper {
		.swiper-navigation {
			display: none;
		}
		.swiper-pagination {
			bottom: 16px;
		}
	}
	.index-slider {
		.swiper-slide {
			padding-top: 32px;
			padding-bottom: 120px;
		}
	}
}
@media (min-width: 992px) and (max-width: 1379.98px) {
	.index-slider-wrapper {
		.swiper-navigation {
			right: 4px;
			left: 4px;
		}
	}
}

.main-banner {
	position: relative;
	display: flex;
	min-width: 100%;
	width: 100%;

	&__descr {
		z-index: 1;
		display: flex;
		flex: 1;
		flex-direction: column;
	}
	&__title,
	&__subtitle {
		min-width: 100%;
		width: 100%;
	}
	&__subtitle {
		color: var(--white-color);
	}
	&__list {
		li {
			display: flex;
			align-items: flex-start;
			gap: 16px;

			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
	}
	&__marker {
		padding-top: 3px;

		.icon {
			fill: var(--red-color);
		}
	}
}
@media (min-width: 992px) {
	.main-banner {
		&__descr {
			gap: 48px;
			max-width: 72%;
		}
		&__subtitle {
			font-size: 18px;
		}
	}
}
@media (max-width: 991.98px) {
	.main-banner {
		&__descr {
			gap: 20px;
		}
	}
}

.download {
	&-file {
		display: flex;
		flex-direction: column;
		overflow: hidden;
		border-radius: 16px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		&__title {
			color: var(--white-color);
			font-family: var(--font-family-unbounded);
			font-weight: 400;
			text-decoration: underline;
			transition: var(--transition);
		}
		&__subtitle {
			color: rgba(255, 255, 255, 0.7);
			font-weight: 600;
		}

		&:hover {
			.download-file__title {
				text-decoration: none;
			}
		}
	}
}
@media (min-width: 992px) {
	.download {
		&-file {
			gap: 20px;
			min-height: 320px;
			padding: 40px 48px;

			&__title {
				font-size: 36px;
			}
			&__subtitle {
				font-size: 20px;
			}
		}
	}
}
@media (min-width: 1200px) {
	.download {
		&-file {
			padding-right: 40%;
		}
	}
}
@media (max-width: 991.98px) {
	.download {
		&-file {
			gap: 8px;
			min-height: 150px;
			padding: 20px 24px;

			&__title {
				font-size: 20px;
			}
			&__subtitle {
				font-size: 14px;
			}
		}
	}
}
@media (max-width: 575.98px) {
	.download {
		&-file {
			padding-right: 30%;
		}
	}
}
@media (min-width: 576px) and (max-width: 991.98px) {
	.download {
		&-file {
			padding-right: 40%;
		}
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.download {
		&-file {
			padding-right: 30%;
		}
	}
}