// базовые подключения
@import "fonts";
@import "vars";
@import "./helpers/grid-bootstrap";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/footer";

.main {
	position: relative;
	flex: 1;
	min-width: 375px;
	overflow: hidden;
}
@media (min-width: 992px) {
	body {
		&:not(.index) {
			.main {
				padding-top: 248px;
			}
		}
	}
}
@media (max-width: 991.98px) {
	body {
		&:not(.index) {
			.main {
				padding-top: 24px;
			}
		}
	}
}

body:not(.is-using-mouse) {
	.fancybox {
		&__container {
			.carousel__button:focus {
				box-shadow: none;
			}
		}
	}
}
.fancybox {
	&__html5video {
		outline: none;
	}
}

.index-slider-wrapper {
	position: relative;

	.swiper-navigation {
		right: 24px;
		left: 24px;
	}
	.swiper-pagination {
		position: absolute;
		right: 0;
		left: 0;
		min-height: 12px;
		height: 12px;

		&-bullet {
			width: 12px;
			height: 12px;
			border-radius: 2px;
			background-color: rgba(255, 255, 255, 0.2);

			&-active {
				background-color: var(--white-color);
			}
		}
	}
	.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
	.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
		margin: 0 6px;
	}
}
.index-slider {
	background-color: var(--interface1-color);

	.swiper-slide {
		height: auto;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}
}
@media (min-width: 992px) {
	.index-slider-wrapper {
		.swiper-pagination {
			bottom: 32px;
		}
	}
	.index-slider {
		.swiper-slide {
			padding-top: 250px;
			padding-bottom: 70px;
		}
	}
}
@media (max-width: 991.98px) {
	.index-slider-wrapper {
		.swiper-navigation {
			display: none;
		}
		.swiper-pagination {
			bottom: 16px;
		}
	}
	.index-slider {
		.swiper-slide {
			padding-top: 32px;
			padding-bottom: 120px;
		}
	}
}
@media (min-width: 992px) and (max-width: 1379.98px) {
	.index-slider-wrapper {
		.swiper-navigation {
			right: 4px;
			left: 4px;
		}
	}
}

.main-banner {
	position: relative;
	display: flex;
	min-width: 100%;
	width: 100%;

	&__descr {
		z-index: 1;
		display: flex;
		flex: 1;
		flex-direction: column;
	}
	&__title,
	&__subtitle {
		min-width: 100%;
		width: 100%;
	}
	&__subtitle {
		color: var(--white-color);
	}
	&__list {
		li {
			display: flex;
			align-items: flex-start;
			gap: 16px;

			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
	}
	&__marker {
		padding-top: 3px;

		.icon {
			fill: var(--red-color);
		}
	}
}
@media (min-width: 992px) {
	.main-banner {
		&__descr {
			gap: 48px;
			max-width: 72%;
		}
		&__subtitle {
			font-size: 18px;
		}
	}
}
@media (max-width: 991.98px) {
	.main-banner {
		&__descr {
			gap: 20px;
		}
	}
}

.download {
	&-file {
		display: flex;
		flex-direction: column;
		overflow: hidden;
		border-radius: 16px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		&__title {
			color: var(--white-color);
			font-family: var(--font-family-unbounded);
			font-weight: 400;
			text-decoration: underline;
			transition: var(--transition);
		}
		&__subtitle {
			color: rgba(255, 255, 255, 0.7);
			font-weight: 600;
		}

		&:hover {
			.download-file__title {
				text-decoration: none;
			}
		}
	}
}
@media (min-width: 992px) {
	.download {
		&-file {
			gap: 20px;
			min-height: 320px;
			padding: 40px 48px;

			&__title {
				font-size: 36px;
			}
			&__subtitle {
				font-size: 20px;
			}
		}
	}
}
@media (min-width: 1200px) {
	.download {
		&-file {
			padding-right: 40%;
		}
	}
}
@media (max-width: 991.98px) {
	.download {
		&-file {
			gap: 8px;
			min-height: 150px;
			padding: 20px 24px;

			&__title {
				font-size: 20px;
			}
			&__subtitle {
				font-size: 14px;
			}
		}
	}
}
@media (max-width: 575.98px) {
	.download {
		&-file {
			padding-right: 30%;
		}
	}
}
@media (min-width: 576px) and (max-width: 991.98px) {
	.download {
		&-file {
			padding-right: 40%;
		}
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.download {
		&-file {
			padding-right: 30%;
		}
	}
}

.page {
	&-subtitle {
		line-height: 1.3;
	}
}
@media (min-width: 992px) {
	.page {
		&-subtitle {
			max-width: 60%;
			margin-right: auto;
			font-size: 36px;

			&--fz-sm {
				font-size: 24px;
			}
		}
	}
}
@media (max-width: 991.98px) {
	.page {
		&-subtitle {
			font-size: 18px;
		}
	}
}

.numbers {
	display: flex;

	&__item {
		display: flex;
		flex-direction: column;
		border: 1px solid transparent;
		border-radius: 16px;

		&:not(.numbers__item--dark, .numbers__item--red) {
			border-color: var(--interface10-color);
			background-color: transparent;

			&.has-bg {
				.numbers__value {
					color: var(--red-color);
				}
			}
		}
		&:not(.has-bg, .numbers__item--red) {
			.numbers__descr {
				border-top: 1px solid rgba(165, 165, 164, 0.16);
			}
		}
		&--dark,
		&--red {
			color: var(--white-color);
		}
		&--dark {
			border-color: var(--interface3-color);
			background-color: var(--interface3-color);
		}
		&--red {
			border-color: var(--red-color);
			background-color: var(--red-color);
		}
	}
	&__value {
		font-family: var(--font-family-unbounded);
		line-height: 1;
	}
	&__descr {
		display: flex;
		align-items: flex-end;
		flex: 1;
		font-weight: 600;

		span {
			display: -webkit-box;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
	}
}
@media (min-width: 768px) {
	.numbers {
		flex-wrap: wrap;
	}
}
@media (min-width: 992px) {
	.numbers {
		gap: 20px;

		&__item {
			gap: 40px;
			min-height: 320px;
		}
		&__row {
			padding: 40px 48px;
		}
		&__value {
			font-size: 80px;
		}
		&__descr {
			span {
				-webkit-line-clamp: 2;
			}
		}
	}
}
@media (min-width: 1380px) {
	.numbers {
		&__item {
			&:first-child,
			&:last-child {
				min-width: calc((1280px - 20px) / 2);
				width: calc((1280px - 20px) / 2);
			}
			&:not(:first-child, :last-child) {
				min-width: calc((1280px - 60px) / 4);
				width: calc((1280px - 60px) / 4);
			}
		}
	}
}
@media (max-width: 991.98px) {
	.numbers {
		gap: 16px;

		&__item {
			min-height: 150px;
		}
		&__row {
			padding: 20px;
		}
		&__value {
			font-size: 40px;
		}
		&__descr {
			span {
				-webkit-line-clamp: 1;
			}
		}
	}
}
@media (max-width: 767.98px) {
	.numbers {
		flex-direction: column;

		&__item {
			min-width: 100%;
			width: 100%;
		}
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.numbers {
		&__item {
			min-width: calc((100vw - 32px - 16px) / 2);
			width: calc((100vw - 32px - 16px) / 2);
		}
	}
}
@media (min-width: 992px) and (max-width: 1379.98px) {
	.numbers {
		&__item {
			&:first-child,
			&:last-child {
				min-width: calc(((100vw - 100px - 40px) / 3) * 2 + 20px);
				width: calc(((100vw - 100px - 40px) / 3) * 2 + 20px);
			}
			&:not(:first-child, :last-child) {
				min-width: calc((100vw - 100px - 40px) / 3);
				width: calc((100vw - 100px - 40px) / 3);
			}
		}
	}
}

.certificates {
	display: flex;

	&__item {
		display: flex;
		flex-direction: column;
		gap: 24px;
		padding-bottom: 8px;
	}
	&__view {
		padding: 12px;
		border-radius: 16px;
		border: 1px solid var(--interface10-color);
		box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.04);
		background-color: var(--white-color);
	}
	&__descr {
		font-weight: 600;
		font-size: 18px;
		text-align: center;
	}
}
@media (min-width: 768px) {
	.certificates {
		flex-wrap: wrap;
	}
}
@media (min-width: 992px) {
	.certificates {
		gap: 20px;
	}
}
@media (min-width: 1380px) {
	.certificates {
		&__item {
			min-width: calc((1280px - 40px) / 3);
			width: calc((1280px - 40px) / 3);
		}
	}
}
@media (max-width: 991.98px) {
	.certificates {
		gap: 40px;
	}
}
@media (max-width: 767.98px) {
	.certificates {
		flex-direction: column;

		&__item {
			min-width: 100%;
			width: 100%;
		}
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.certificates {
		&__item {
			min-width: calc((100vw - 32px - 40px) / 2);
			width: calc((100vw - 32px - 40px) / 2);
		}
	}
}
@media (min-width: 992px) and (max-width: 1379.98px) {
	.certificates {
		&__item {
			min-width: calc((100vw - 100px - 40px) / 3);
			width: calc((100vw - 100px - 40px) / 3);
		}
	}
}

.vacancies {
	position: relative;

	li {
		position: relative;
		display: flex;
		border-bottom: 1px solid var(--interface10-color);
	}
	&__header {
		display: flex;
		flex-direction: column;
	}
	&__title {
		font-family: var(--font-family-unbounded);
		font-weight: 600;
	}
	&__city {
		color: var(--interface4-color);
	}
	&__descr {
		color: var(--interface2-color);
	}
	&__salary {
		color: var(--interface2-color);
		font-weight: 600;
	}
}
@media (min-width: 992px) {
	.vacancies {
		padding-left: 80px;
		counter-reset: item;

		li {
			gap: 20px;
			padding-bottom: 32px;
			counter-increment: item;

			&:before {
				content: counter(item);
				position: absolute;
				left: -80px;
				color: var(--red-color);
				font-family: var(--font-family-unbounded);
				font-size: 14px;
				line-height: 27px;
			}
			&:nth-child(-n+9) {
				&:before {
					content: "0" counter(item);
				}
			}
			&:not(:last-child) {
				margin-bottom: 32px;
			}
		}
		&__header {
			gap: 12px;
			min-width: 26%;
			width: 26%;
		}
		&__title {
			font-size: 18px;
		}
		&__descr {
			flex: 1;
		}
		&__salary {
			min-width: 22%;
			width: 22%;
			font-size: 18px;
			text-align: right;
		}
	}
}
@media (max-width: 991.98px) {
	.vacancies {
		li {
			flex-direction: column;
			gap: 16px;
			padding-bottom: 20px;

			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
		&__header {
			gap: 8px;
		}
	}
}

.contacts {
	&__title {
		font-family: var(--font-family-unbounded);
		font-weight: 600;
		line-height: 1.3;
	}
	&__descr {
		display: flex;

		&-item {
			display: flex;
			flex-direction: column;
			gap: 8px;

			&:first-child {
				flex: 2;
			}
			&:not(:first-child) {
				flex: 1;
			}
		}
		&-title,
		&-caption {
			color: var(--interface5-color);
		}
		&-content {
			font-family: var(--font-family-unbounded);
			line-height: 1.4;
		}
		&-caption {}
	}
	&__map {
		position: relative;
		border-radius: 16px;
		overflow: hidden;

		&-content {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 100%;
		}
	}
}
@media (min-width: 992px) {
	.contacts {
		&__item {
			&:not(:last-child) {
				margin-bottom: 72px;
			}
		}
		&__title {
			font-size: 32px;
		}
		&__descr {
			flex-wrap: wrap;
			gap: 80px;

			&-caption {
				font-size: 14px;
			}
		}
		&__map {
			height: 400px;
		}
	}
}
@media (max-width: 991.98px) {
	.contacts {
		&__item {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
		&__title {
			font-size: 18px;
		}
		&__descr {
			flex-direction: column;
			gap: 20px;

			&-caption {
				font-size: 13px;
			}
		}
		&__map {
			height: 400px;
		}
	}
}

.media-details {
	position: relative;

	&-grid {
		display: flex;

		.media-details-content {
			order: 1;
		}
		.media-details-sidebar {
			order: 2;
			display: flex;
			flex-direction: column;
		}
	}
	&-content {
		color: var(--interface2-color);

		a {
			color: inherit;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}
	&-image {
		display: flex;
		border-radius: 16px;
		overflow: hidden;
	}
	&-navigation {
		display: flex;
		gap: 24px;

		&:not(:first-child) {
			border-top: 1px solid var(--interface10-color);
		}
		&__item {
			display: flex;
			flex: 1;
			flex-direction: column;
			gap: 16px;

			&:nth-child(n+3) {
				display: none;
			}
			&:not(:first-child) {
				.media-details-navigation__pointer {
					flex-direction: row-reverse;

					.decor {
						transform: rotate(180deg);
					}
				}
			}
		}
		&__pointer,
		&__title {
			min-width: 305px;
			width: 305px;
		}
		&__pointer {
			display: flex;
			align-items: center;
			gap: 16px;
			color: var(--interface6-color);
			font-family: var(--font-family-unbounded);
			font-size: 10px;
			line-height: 1.4;
			letter-spacing: 0.5px;
			text-transform: uppercase;
			transition: var(--transition);

			.decor {
				position: relative;
				min-height: 12px;
				height: 12px;

				&,
				span {
					min-width: 26px;
					width: 26px;
				}
				span {
					position: absolute;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
					min-height: 2px;
					height: 2px;
					border-radius: 2px;
					background-color: var(--interface6-color);
					transition: var(--transition);

					&::before,
					&::after {
						content: "";
						position: absolute;
						top: 50%;
						left: 0;
						min-width: 8px;
						width: 8px;
						min-height: 2px;
						height: 2px;
						border-radius: 2px;
						background-color: var(--interface6-color);
					}
					&::before {
						transform: translateY(-4px) rotate(-45deg);
					}
					&::after {
						transform: translateY(2px) rotate(45deg);
					}
				}
			}
		}
		&__title {
			color: var(--interface2-color);
			font-weight: 600;
		}
	}
}
@media (min-width: 992px) {
	.media-details {
		&-grid {
			gap: 60px;

			.media-details-content {
				flex: 1;
			}
			.media-details-sidebar {
				gap: 32px;
				min-width: 265px;
				width: 265px;
			}
		}
		&-image {
			min-height: 450px;
			height: 450px;
		}
		&-navigation {
			align-items: flex-start;
			padding-top: 32px;

			&__item {
				&:not(:first-child) {
					text-align: right;

					.media-details-navigation__pointer,
					.media-details-navigation__title {
						margin-left: auto;
					}
				}
			}
		}
	}
}
@media (max-width: 991.98px) {
	.media-details {
		&-grid {
			flex-direction: column;
			gap: 20px;

			.media-details-content,
			.media-details-sidebar {
				min-width: 100%;
				width: 100%;
			}
			.media-details-sidebar {
				gap: 20px;
				border-top: 1px solid var(--interface10-color);
			}
		}
		&-sidebar {
			&:not(:first-child) {
				padding-top: 20px;
			}
		}
		&-image {
			min-height: 170px;
			height: 170px;
		}
		&-navigation {
			flex-direction: column;
			padding-top: 20px;

			&__item {
				&:not(:first-child) {
					.media-details-navigation__pointer {
						justify-content: flex-end;
					}
				}
			}
		}
	}
}